
/* line 40 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/app.styl */

/* line 1 : /Users/Robert/Projects/github_work/GFW-C/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 11 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/app.styl */
@font-face {
  font-family: "Arial MT Condensed Bold";
  src: url("fonts/ArialMTStd-BoldCond.otf") format("opentype");
}

/* line 15 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/app.styl */
@font-face {
  font-family: "Arial MT Condensed Light";
  src: url("fonts/ArialMTStd-LightCond.otf") format("opentype");
}

/* line 19 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/app.styl */
html,
body {
  font-family: "Arial MT Condensed Light", Arial, Georgia, sans-serif;
  background: LightGray;
}

/* line 24 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/app.styl */
.gfw .light-gray-font {
  color: #747474;
}

/* line 27 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/app.styl */
.gfw #app-body:not(.mapView) #stackContainer {
  min-height: 300px;
  max-height: 700px;
}

/* line 31 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/app.styl */
.gfw #app-body.mapView #stackContainer {
  position: absolute;
  top: 125px;
  bottom: 0;
  right: 0;
  left: 0;
}

/* line 38 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/app.styl */
.gfw .app-footer {
  height: 470px;
  width: 100%;
}

/* line 42 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/app.styl */
.gfw .dijitLayoutContainer {
  overflow: hidden;
}


/* line 40 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/footer.styl */

/* line 1 : /Users/Robert/Projects/github_work/GFW-C/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 9 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/footer.styl */
.gfw .app-footer {
  background-color: #464352;
}


/* line 40 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */

/* line 1 : /Users/Robert/Projects/github_work/GFW-C/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 15 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .app-header {
  background: url("images/header_tree_background") repeat-x scroll center top transparent;
  border-bottom: 1px solid #717d80;
  box-sizing: border-box;
  height: 210px;
}

/* line 21 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .header {
  height: 100%;
  width: 100%;
}

/* line 25 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .header .inner {
  margin: 0 auto;
  width: 960px;
}

/* line 29 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .header .outer {
  margin: 0 30px;
}

/* line 32 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .nav-topper {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #9b9b9b;
  background: #e6e6e6;
  font-size: 12px;
  height: 43px;
  width: 100%;
}

/* line 40 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .app-header.mapView {
  height: 120px;
}

/* line 43 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .app-header.generalView {
  height: 105px;
}

/* line 46 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .app-header.mapView .nav-topper,
.gfw .app-header.mapView .header-title,
.gfw .app-header.generalView .header-title {
  display: none;
}

/* line 49 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .app-header.mapView .nav-separator {
  top: 65px;
}

/* line 52 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .nav-topper div {
  line-height: 43px;
}

/* line 55 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .nav-separator {
  border-bottom: 1px solid #cfcfcf;
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 106px;
  left: 0;
}

/* line 63 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .header-logo {
  background: url("images/gfwc_logo.jpg") no-repeat center;
  background-position: 0 0;
  text-indent: -999999px;
  display: inline-block;
  position: relative;
  height: 100px;
  width: 90px;
  z-index: 200;
}

/* line 73 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .beta-logo {
  font-family: Arial, sans-serif;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #888;
  position: relative;
  font-size: 11px;
  color: #fff;
  padding: 8px;
  top: 20px;
}

/* line 83 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .nav-link-list {
  display: inline-block;
  list-style-type: none;
  float: right;
}

/* line 88 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .nav-link-list .nav-link {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-family: Arial, sans-serif;
  display: inline-block;
  font-weight: bold;
  padding: 6px 8px;
  font-size: 12px;
  color: #333;
}

/* line 97 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .nav-link-list .nav-link:not(.selected) {
  cursor: pointer;
}

/* line 100 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .nav-link-list .nav-link:hover {
  background-color: rgba(233,131,0,0.45);
}

/* line 103 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .nav-link-list .nav-link.selected {
  background-color: #e98300;
  cursor: default;
  color: #fff;
}

/* line 108 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/header.styl */
.gfw .header-title {
  font-family: Georgia, serif;
  font-size: 26px;
}


/* line 40 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/home.styl */

/* line 1 : /Users/Robert/Projects/github_work/GFW-C/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 6 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/home.styl */
.gfw #app-body #homeView {
  height: auto !important;
}

/* line 9 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/home.styl */
.gfw #app-body .background-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* line 14 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/home.styl */
.gfw #app-body .background-container img {
  height: auto;
  width: 100%;
}


/* line 40 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/map.styl */

/* line 1 : /Users/Robert/Projects/github_work/GFW-C/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 10 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/map.styl */
.gfw .map-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

/* line 17 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/map.styl */
.gfw .map-container .esriSimpleSlider {
  background: none;
  color: #f0ab00;
  border: none;
}

/* line 22 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/map.styl */
.gfw .map-container .esriSimpleSlider div {
  background-color: #fff;
}

/* line 25 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/map.styl */
.gfw .map-container .esriSimpleSliderIncrementButton,
.gfw .map-container .esriSimpleSliderDecrementButton {
  padding: 1px;
  border: none;
}

/* line 29 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/map.styl */
.gfw .map-container .esriSimpleSliderIncrementButton {
  margin-bottom: 2px;
}

/* line 32 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/map.styl */
.gfw .map-container .HomeButton .home {
  background-image: url("images/ico-home.png");
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  padding: 1px;
}

/* line 37 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/map.styl */
.gfw .map-container .HomeButton {
  margin-bottom: 4px;
}

/* line 40 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/map.styl */
.gfw .locator-widget-button,
.gfw .basemap-gallery-button,
.gfw .share-button {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: absolute;
  cursor: pointer;
  padding: 1px;
  height: 30px;
  width: 30px;
  right: 20px;
  z-index: 50;
}

/* line 50 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/map.styl */
.gfw .locator-widget-button {
  background: url("images/locate.png") no-repeat #fff -1px -35px;
  top: 125px;
}

/* line 54 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/map.styl */
.gfw .basemap-gallery-button {
  background: url("images/basemap.png") no-repeat #fff -1px -35px;
  top: 162px;
}

/* line 58 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/map.styl */
.gfw .share-button {
  background: url("images/share-icon.png") no-repeat #fff -2px -35px;
  top: 199px;
}

/* line 62 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/map.styl */
.gfw .locator-widget-button:hover,
.gfw .basemap-gallery-button:hover,
.gfw .share-button:hover,
.gfw .map-container .HomeButton .home:hover,
.gfw .map-container .esriSimpleSliderIncrementButton:hover,
.gfw .map-container .esriSimpleSliderDecrementButton:hover {
  background-color: #cdcdcd;
}
