// Useful Functions
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments

baseGray = #e6e6e6
lightGrayFont = #747474
mediumGray = #888

// Font Family for the Application
@font-face
	font-family "Arial MT Condensed Bold"
	src url("fonts/ArialMTStd-BoldCond.otf") format("opentype")

@font-face
	font-family "Arial MT Condensed Light"
	src url("fonts/ArialMTStd-LightCond.otf") format("opentype")

html, body 
	font-family "Arial MT Condensed Light", Arial, Georgia, sans-serif
//	background LightGray

// Generic Font Classes
.gfw .light-gray-font
	color lightGrayFont

.gfw #app-body:not(.mapView) #stackContainer
	min-height 300px
	//max-height 700px

.gfw #app-body.mapView #stackContainer
	position absolute
	top 120px
	bottom 0
	right 0
	left 0

// .gfw #app-body.mapView,
// .gfw #app-body.mapView .dijitStackContainerChildWrapper.dijitVisible
// 	height 100% !important

.gfw .app-footer
	height 470px
	width 100%

.gfw .dijitLayoutContainer
	overflow hidden

.gfw .custom-check
	background-color mediumGray
	display inline-block
	border-radius(5px)
	position relative
	height 10px
	width 17px
	
.gfw .custom-check span
	background-color #fff
	border-radius(4px)
	position absolute
	height 6px
	width 6px
	left 2px
	top 2px