// Useful Functions
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments

baseGray = #e6e6e6
lightGrayFont = #747474

// Font Family for the Application
@font-face
	font-family "Arial MT Condensed Bold"
	src url("fonts/ArialMTStd-BoldCond.otf") format("opentype")

@font-face
	font-family "Arial MT Condensed Light"
	src url("fonts/ArialMTStd-LightCond.otf") format("opentype")

html, body 
	font-family "Arial MT Condensed Light", Arial, Georgia, sans-serif
	background LightGray

// Generic Font Classes
.gfw .light-gray-font
	color lightGrayFont

.gfw .app-header
	background url('images/header_tree_background') repeat-x scroll center top transparent
	border-bottom 1px solid #717d80
	box-sizing border-box
	height 210px

.gfw .app-body
	min-height 300px
	max-height 300px

.gfw .app-footer
	height 470px
	width 100%