// Useful Functions
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments

baseGray = #e6e6e6
lightGrayFont = #747474

// Font Family for the Application
@font-face
	font-family "Arial MT Condensed Bold"
	src url("fonts/ArialMTStd-BoldCond.otf") format("opentype")

@font-face
	font-family "Arial MT Condensed Light"
	src url("fonts/ArialMTStd-LightCond.otf") format("opentype")

html, body 
	font-family "Arial MT Condensed Light", Arial, Georgia, sans-serif
	background LightGray

// Generic Font Classes
.gfw .light-gray-font
	color lightGrayFont

.gfw #app-body:not(.mapView) #stackContainer
	min-height 300px
	max-height 700px

.gfw #app-body.mapView #stackContainer
	position absolute
	top 125px
	bottom 0
	right 0
	left 0

.gfw .app-footer
	height 470px
	width 100%

.gfw .dijitLayoutContainer
	overflow hidden