// Useful Functions
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments

backgroundGray = #464352

.gfw .app-footer
	background-color backgroundGray