// Useful Functions
/*border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments

backgroundGray = #464352

.gfw .app-footer
	background-color backgroundGray*/


/*--------- footer -------------------------------*/
#footer {
background-color: rgb(70, 67, 82);
position: relative;
height: auto;
min-height: 200px;
width: 100%;
bottom: 0;
max-height: 300px;
z-index: 100;
float: left;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#right-footer{
  margin:0 0 0 0;
}
#left-footer{
  width:350px;
}

#footer-address p:first-child {
  font-weight:bold;
}
 #middle-footer{
  width:200px;
  margin: 0 10px;
}
.site-info {
  font-size: 13px;
  color: rgb(177, 175, 182);
}
.inner {
  margin: 0 auto;
  width: 960px;
  padding: 0px;
}
.left{
  float:left;
}
.partner-icons {
  float: left;
  margin: 15px 30px;
  width: 100px;
  height: 88px;
}
#partnerText span:first-child{
  font-weight:bold;
}
#footer .right{
  float: right;
  width: 49%;
  height:300px;
}
#footer .left{
  padding-right: 15px;
  padding-top: 10px;
}

#gfwIcon{
  background: url('images/monochromatic_gfw.jpg') no-repeat;
}
#usaidIcon{
  background: url('images/monochromatic_usaid.jpg') no-repeat;
}
#ukccuIcon{
  background: url('images/monochromatic_ukaid.jpg') no-repeat;
}
#rspoIcon{
  background: url('images/monochromatic_rspo.jpg') no-repeat;
}
#bappenasIcon{
  background: url('images/monochromatic_bappenas.jpg') no-repeat;
}
#bluerasterIcon{
  background: url('images/monochromatic_blueraster.jpg') no-repeat;
}


.footer-logo.wri{
  background: url(images/wri.png) no-repeat;
  background-position: 0 0;
}

#footer-share div p{
  float: left;
  color: rgb(255, 255, 255);
  font-size:17px;
/*  line-height: 38px;*/
  font-family: fira_sans_otmedium;
  font-weight: 200;

}

.share_buttons {
  clear:both;
  float: left;
  height: 27px;
  width: 305px;
  padding: 12px 20px 6px;
  background: rgb(255, 255, 255);
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  border-radius: 23px;
}

#fb_login_button {
    width: 80px;
}
#fb_login_button span,
#fb_login_button iframe {
    width: 80px !important;
    height: 25px !important;
}
.fb-share-button{
  bottom:5px;
  position: absolute;
  left: 570px;
  top: 52px;

}
.footer-share.keep-updated {
  clear:both;
margin-bottom: 0;
height: 35px;
}
.footer-share p {
/*float: left;*/
line-height: 45px;
}
.site-info a {
color: rgb(238, 238, 238);
text-decoration: underline;
padding: 0px;
}
.footer-share p .subscribe {
  clear:both;
vertical-align: sub;
}
.footer-address {
clear:both;
margin: 60px 0 40px;
}
.footer-address p, .footer-address address, .footer-address .footer-logo {
clear:both;
margin-bottom: 20px;
}
.footer-logo.wri {
display:block;
margin:5px 0;
height: 31px;
width: 269px;
background-position: 0 0;
}
.footer-address address {
line-height: 1.1;
}
#address{
  clear:both;
}
#footer-address div{
  clear:both;
}
#footer p{
  margin:4px 0;
}
.site-info a {
  color: rgb(238, 238, 238);
  text-decoration: underline;
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 13px;
  font-size: 13px;
}
#footer-address p{
  color: rgb(177, 175, 182); !important;
  text-decoration: none !important;
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 13px !important;
  font-size: 13px !important;
}
#footer-share .partnership p{
  color:rgb(177,175,182);
}
.wri-logo-container{
  padding:10px 0;

}

#partnerText{
  padding: 0px 0px;
  float: left;
  clear: both;
  width: 100%;
}

#signup a{
  margin: 0 0 0 10px;
}


