border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments

.gfw #app-body #homeView
	height auto !important

.gfw #app-body .background-container
	overflow hidden
	height 100%
	width 100%

.gfw #app-body .background-container img
	height auto
	width 100%