border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments

.gfw #app-body #homeView {
	height auto !important
}

.gfw #splashDialog {
    border none
    background url('images/landing.png')
}

.gfw #splashDialog .dijitDialogTitleBar {
    background none
}

.gfw #splashDialog .dijitDialogPaneContent {
    background none
    font-size 15px
}

.gfw #app-body .background-container {
	overflow hidden
	height 100%
	width 100%
    min-height 500px
}

.gfw #app-body .background-container img {
	height: auto;
    position: absolute;
	width: 100%;
}

.homeBgContainer {
	width 100%
    height 100%
    overflow hidden
}

.homeBgContainer img {
    width 100%
    height auto
}

.homeModeDotsContainer {
    margin-top: 370px;
    z-index: 200;
    position: absolute;
    width: 300px;
    height: 30px;
    align: center;
    left: 50%;
    margin-left: -150px;
}

.homeModeOptionsContainer {
    position absolute
    z-index 200
    width 100%
    height 100%
}

.homeModeOptionsViewerOuter {
    width 300px
    height 300px
    z-index 100
    //overflow hidden
    overflow-x auto
    overflow-y hidden
    margin auto
    margin-top 50px
    overflow visible
}

.homeModeOuter {
    width 300px
    height 30px
    z-index 100
    //overflow hidden
    overflow-x auto
    overflow-y hidden
    margin auto
    overflow visible
    text-align center
}

.homeModeDot {
    height 15px
    width 15px
    margin-left 10px
    margin-right 10px
    display inline-block
    background-color white
    transition all 2s
    border-radius 10px
    cursor pointer
}

.homeModeDot[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #E98300;
  position: absolute;
  left: 20;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);

}

.homeModeDot.activeDot {
    background-color #E98300
    transition all 2s
    border 1px solid white
}

.homeModeOptionsViewerOuter .modeGroup {
    height 300px
    width 100%
    transition display 1.5s ease
    cursor pointer
    font-size 24px
}


.homeModeOptionsViewerOuter .modeOption {
    border-radius 150px
    background-color #000
    color #FFF
    height 300px
    width 300px
    vertical-align middle
    text-align center
    position absolute
    //display inline-block
    margin auto
    opacity 0.3
    box-sizing border-box
}

.homeModeOptionsViewerOuter .modeOptionRing {
    border-radius 150px
    
    height 300px
    box-shadow 0px 0px 14px 0px #888888
    width 300px
    vertical-align middle
    text-align center
    position absolute
    //display inline-block
    margin auto
    //border 10px solid #EC1D38
    border 10px solid #E98300
    box-sizing border-box
}

.homeModeOptionsViewerOuter .modeGroup .modeText p {
    font-size 72px
    color #EC1D38
    margin-top -50px
    margin-bottom 0px
}

.homeModeOptionsViewerOuter .modeGroup .modeText {
    font-family "Georgia",serif
    color gray
    position absolute
    left 0px
    top 110px
    right 0px
    vertical-align middle
}

#homeView > div > div.homeModeOptionsContainer > div > div:nth-child(1) > div.modeOptionRing > div > span {
    color: black !important;
}
#homeView > div > div.homeModeOptionsContainer > div > div:nth-child(1) > div.modeOptionRing {
    background-image: url("../../app/css/images/backgroundCircle.png");
}
#homeView > div > div.homeModeOptionsContainer > div > div:nth-child(3) > div.modeOptionRing > div > span {
    color: black !important;
}
// #homeView > div > div.homeModeOptionsContainer > div > div:nth-child(3) > div.modeOptionRing {
//     background-image: url("../../app/css/images/backgroundCircle.png");
// }

.homeModeOptionsViewerOuter .modeGroup .modeText span {
    font-size 32px
}

.homeModeOptionsViewerOuter .modeGroup .modeText span.more-text {
    position relative
    top -1px
}
.homeModeOptionsViewerOuter .modeGroup .modeText span.less-text {
    position relative
    top 10px
}

#signUpAlertsForm {
    font-family "Arial MT Condensed Light"
    src url("../fonts/ArialMTStd-LightCond.otf") format("opentype")
    color #464052
}

#signUpAlertsForm .select-container {
    background url('../images/ico-carat-down.png') no-repeat 95% center transparent
    width 240px
}

#signUpAlertsForm #aoiDistrictPicker {
    background transparent
    -webkit-appearance none
    -moz-appearance none
    appearance none
    font-size 14px
    padding 5px
    height 30px
    width 240px
}

#signUpAlertsForm #aoiSubDistrictPicker {
    border 1px solid #BBB
    border-radius 5px
    font-size 12px
    width 240px
}

#signUpAlertsForm input[type="email"], #signUpAlertsForm input[type="tel"] {
    border-radius 5px
    font-size 16px
    width 235px
    height 30px
}

#signUpAlertsForm #verifyEmailForAlerts {
    font-size 12px
    display none
}

#alerts-submit-button {
    background #e50036
    padding 5px 10px
    cursor pointer
    font-size 14px
    color white
    border none
}

#signUpAlertsForm td {
    padding 2px 6px
}

#signUpAlertsForm .error-messages {
	color #e50036
}