// Useful Functions
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments

lightGray = #ececed
mediumGray = #888
goldFont = #f0ab00
greyBorder = #b2b2b2
hoverBackground = #CDCDCD
orangeSelected = rgb(233, 131, 0)
orangeHover = rgba(233, 131, 0, 0.45)
wizardBlue = #00688B

.gfw .map-container 
	position absolute
	bottom 0
	right 0
	left 0
	top 0

.gfw .map
	position absolute
	left 0

.gfw .map-container .esriSimpleSlider
	background none
	color goldFont
	border none

.gfw .map-container .esriSimpleSlider div
	background-color #FFF

.gfw .map-container .esriSimpleSliderIncrementButton, .gfw .map-container .esriSimpleSliderDecrementButton
	padding 1px
	border none

.gfw .map-container .esriSimpleSliderIncrementButton
	margin-bottom 2px

.gfw .map-container .esriControlsBR
	right inherit
	left 5px

.gfw .map-container .esriAttribution
	display none

.gfw .map-container .HomeButton .home
	background-image url('images/ico-home.png')
	border-radius(0px)
	padding 1px

.gfw .map-container .HomeButton
	margin-bottom 4px

.gfw .locator-widget-button, .gfw .basemap-gallery-button, .gfw .share-button
	border-radius(5px)
	position absolute
	cursor pointer
	padding 1px
	height 30px
	width 30px
	right 20px
	z-index 50

.gfw .locator-widget-button
	background url('images/locate.png') no-repeat #FFF -1px -35px	
	top 125px

.gfw .basemap-gallery-button
	background url('images/basemap.png') no-repeat #FFF -1px -35px
	top 162px

.gfw .share-button
	background url('images/share-icon.png') no-repeat #FFF -2px -35px
	top 199px

.gfw .locator-widget-button:hover, 
.gfw .basemap-gallery-button:hover, 
.gfw .share-button:hover,
.gfw .map-container .HomeButton .home:hover,
.gfw .map-container .esriSimpleSliderIncrementButton:hover,
.gfw .map-container .esriSimpleSliderDecrementButton:hover
	background-color hoverBackground

.gfw .map-container .simpleGeocoder
	position absolute
	z-index 50
	right 65px
	top 20px

.gfw .map-container .simpleGeocoder .esriGeocoder
	border 2px solid mediumGray

.gfw .map-container .modal-link
	position absolute
	background #FFF
	height 32px
	width 23px
	right 48px
	z-index 48

.gfw .map-container .basemap-linker
	top 162px

.gfw .map-container .locator-linker
	top 125px
	
.gfw .map-container .maptools-modal
	border-radius(5px)
	position absolute
	background #FFF
	overflow-y auto
	padding 10px
	height 350px
	width 300px
	right 60px
	z-index 50
	top 60px

.gfw .maptools-modal .container-header
	font-family "Arial MT Condensed Bold", Arial, Georgia, sans-serif
	border-bottom 1px solid greyBorder
	padding-bottom 5px
	font-size 20px

.gfw .maptools-modal .overlays-container
	margin 15px

.gfw .overlays-container .overlays-checkbox
	color mediumGray
	cursor pointer

.gfw .overlays-container .overlays-checkbox.selected
	color orangeSelected

.gfw .overlays-checkbox.selected .custom-check
	background-color orangeSelected
	
.gfw .overlays-checkbox.selected .custom-check span
	left 9px

.gfw .overlays-container .custom-check-label
	margin-left 5px

.gfw .maptools-modal .esriBasemapGallery
	padding 15px 25px 5px

.gfw .maptools-modal .line-splitter
	border-bottom 1px solid greyBorder

.gfw .maptools-modal .goto-area-search
	display inline-block
	margin 10px 0

.gfw .maptools-modal .LocateButton
	margin 5px

.gfw .maptools-modal .LocateButton .zoomLocateButton:hover, .gfw .search-option-go-button:hover
	background orangeSelected

.gfw .maptools-modal .LocateButton .zoomLocateButton
	background mediumGray
	height 25px
	width 100px

.gfw .maptools-modal .dms-inputs, .gfw .maptools-modal .lat-long-inputs
	height 20px

.gfw .maptools-modal .dms-inputs
	width 60px

.gfw .maptools-modal .area-search-radio-container
	margin 2px 5px

.gfw .maptools-modal .area-search-inputs
	margin 5px

.gfw .maptools-modal .clear-search-pins
	text-decoration underline
	margin 10px 20px
	cursor pointer
	float right
	color #00f

.gfw .maptools-modal .LocateButton span
	font-family "Arial MT Condensed Bold", Arial, Georgia, sans-serif
	display block !important
	text-align center
	line-height 28px
	color #FFF

.gfw .search-option-go-button
	font-family "Arial MT Condensed Bold", Arial, Georgia, sans-serif
	background mediumGray
	border-radius(5px)
	text-align center
	line-height 25px
	margin 10px auto
	padding 3px 0 0
	cursor pointer
	width 100px
	color #FFF

.gfw .layer-controls-container .suitability_toolbox
	box-shadow 0px 0px 6px 1px rgba(0,0,0,0.25)
	// SPecify the white so IE still renders some color but others use rgba
	background-color white
	background-color rgba(255,255,255,0.75)
	border 1px solid #000
	border-radius(5px)
	position absolute
	width 300px
	bottom 50px
	z-index 50
	left 20px
	top 55px

.gfw .layer-controls-container > .toolbox
	box-shadow 0px 0px 6px 1px rgba(0,0,0,0.25)
	background-color white
	border 1px solid #000
	border-radius(5px)
	position absolute
	bottom 35px	
	z-index 50
	left 50%

.gfw .layer-controls-container .toolbox_legend
	font-family "Arial MT Condensed Bold", Arial, Georgia, sans-serif
	position absolute
	top -20px
	left 0

.gfw .layer-controls-container .toolbox_legend_suitability
	font-family "Arial MT Condensed Bold", Arial, Georgia, sans-serif
	position absolute
	top -40px
	left 70px

.gfw .layer-controls-container .toolbox_legend > p
	text-shadow 0 0 3px #fff
	margin 0

.gfw .layer-controls-container .fires_toolbox
	margin-left -225px
	height 60px
	width 450px

.gfw .layer-controls-container .forma_toolbox
	margin-left -300px
	height 60px
	width 600px

.gfw .layer-controls-container .treecover_change_toolbox
	margin-left -300px
	height 60px
	width 600px

.gfw .toolbox .toolbox-inner
	text-align center

.gfw .toolbox .toolbox-list
	list-style-type none
	display inline-block
	margin 11px 0 0
	padding 0
	
.gfw .toolbox .toolbox-list li
	text-transform uppercase
	border 1px solid #000
	display inline-block
	padding 5px 8px 2px
	border-radius(5px)
	cursor pointer
	font-size 11px
	margin 0 5px

.gfw .toolbox .selected
	font-family "Arial MT Condensed Bold", Arial, Georgia, sans-serif
	background-color orangeSelected
	color white

.gfw .fires_toolbox .high-confidence-fires
	margin 4px 35px 0
	font-size 13px
	float left

.gfw .toolbox .slider-container
	width 600px
	height 60px

.gfw .toolbox .esriTimeSlider
	margin-top 5px

.gfw .slider-container .dijitRuleLabel
	-webkit-transform rotate(-55deg)
	-ms-transform rotate(-55deg)
	transform rotate(-55deg)
	margin-top 6px
	width 30px

.gfw .slider-container table:first-of-type td:first-of-type
	width 40px

.gfw .legend-container
	font-family Arial, sans-serif
	border 1px solid mediumGray
	border-radius(5px 5px 0 0)
	background-color #fff
	box-sizing border-box
	border-bottom none
	position absolute
	overflow hidden
	cursor pointer
	font-size 13px
	height 280px
	width 250px
	z-index 50
	right 20px
	bottom 0

.gfw .legend-title
	background-image url('images/ico-carat-down.png')
	background-position 95% 10px
	background-repeat no-repeat
	background-color lightGray
	box-sizing border-box
	font-weight bold
	line-height 30px
	color goldFont
	cursor pointer
	height 30px

.gfw .legend-title.closed
	background-image url('images/ico-carat-up.png')

.gfw .legend-title span
	margin-left 5px

.gfw .legend-content
	height 250px
	width 100%

.gfw #legend
	padding 0 0 0 10px
	overflow-y auto
	height 100%
	width 230px

/* Overrides for Esri Legend */
.gfw #legend #legend_msg, .gfw #legend .esriLegendServiceLabel
	display none

.gfw #legend .esriLegendService
	padding-bottom 0px

.gfw #legend > div:nth-last-child(2)
	padding-bottom 10px
/* Overrides for Esri Legend */