// Useful Functions
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments

goldFont = #f0ab00
hoverBackground = #CDCDCD

.gfw .map-container 
	position absolute
	bottom 0
	right 0
	left 0
	top 0

.gfw .map-container .esriSimpleSlider
	background none
	color goldFont
	border none

.gfw .map-container .esriSimpleSlider div
	background-color #FFF

.gfw .map-container .esriSimpleSliderIncrementButton, .gfw .map-container .esriSimpleSliderDecrementButton
	padding 1px
	border none

.gfw .map-container .esriSimpleSliderIncrementButton
	margin-bottom 2px

.gfw .map-container .HomeButton .home
	background-image url('images/ico-home.png')
	border-radius(0px)
	padding 1px

.gfw .map-container .HomeButton
	margin-bottom 4px

.gfw .locator-widget-button, .gfw .basemap-gallery-button, .gfw .share-button
	border-radius(5px)
	position absolute
	cursor pointer
	padding 1px
	height 30px
	width 30px
	right 20px
	z-index 50

.gfw .locator-widget-button
	background url('images/locate.png') no-repeat #FFF -1px -35px	
	top 125px

.gfw .basemap-gallery-button
	background url('images/basemap.png') no-repeat #FFF -1px -35px
	top 162px

.gfw .share-button
	background url('images/share-icon.png') no-repeat #FFF -2px -35px
	top 199px

.gfw .locator-widget-button:hover, 
.gfw .basemap-gallery-button:hover, 
.gfw .share-button:hover,
.gfw .map-container .HomeButton .home:hover,
.gfw .map-container .esriSimpleSliderIncrementButton:hover,
.gfw .map-container .esriSimpleSliderDecrementButton:hover
	background-color hoverBackground
	
