// Useful Functions
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments

baseGray = #e6e6e6
lightGrayFont = #747474
mediumGray = #888

// Font Family for the Application
@font-face
	font-family "Arial MT Condensed Bold"
	src url("fonts/ArialMTStd-BoldCond.otf") format("opentype")

@font-face
	font-family "Arial MT Condensed Light"
	src url("fonts/ArialMTStd-LightCond.otf") format("opentype")

html, body 
	font-family "Arial MT Condensed Light", Arial, Georgia, sans-serif
	background LightGray