
/* line 86 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */

/* line 1 : /Users/Robert/Projects/github_work/GFW-C/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 13 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
@font-face {
  font-family: "Arial MT Condensed Bold";
  src: url("fonts/ArialMTStd-BoldCond.otf") format("opentype");
}

/* line 17 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
@font-face {
  font-family: "Arial MT Condensed Light";
  src: url("fonts/ArialMTStd-LightCond.otf") format("opentype");
}

/* line 21 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
html,
body {
  font-family: "Arial MT Condensed Light", Arial, Georgia, sans-serif;
  background: #fff;
}

/* line 25 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw #report {
  margin: 20px auto;
  width: 960px;
}

/* line 29 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .report-header {
  background: url("images/header_tree_background.jpg") repeat-x scroll center top transparent;
  border: 1px solid #000;
  border-bottom: 0px;
  min-height: 100px;
}

/* line 35 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .report-body {
  border: 1px solid #000;
}

/* line 38 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw #title {
  font-family: "Arial MT Condensed Bold", Arial, Georgia, sans-serif;
  padding-top: 10px;
  margin-left: 10px;
  max-width: 750px;
  font-size: 36px;
}

/* line 45 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .total-area {
  padding: 5px 0 15px;
  margin-left: 10px;
}

/* line 49 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .total-area-value {
  font-family: "Arial MT Condensed Bold", Arial, Georgia, sans-serif;
}

/* line 52 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .subscribe-alerts {
  background-color: #f44;
  padding: 5px 8px 3px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: absolute;
  cursor: pointer;
  color: #fff;
  right: 10px;
  top: 10px;
}

/* line 62 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .print-button {
  background: url("images/print-icon.png") no-repeat -1px -35px;
  position: absolute;
  cursor: pointer;
  height: 28px;
  width: 32px;
  right: 10px;
  top: 50px;
}

/* line 71 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .print-button.disabled {
  background: url("images/print-icon.png") no-repeat -1px 0px;
  cursor: wait;
}

/* line 75 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .loading-wheel {
  background: url("images/loader.gif");
  background-size: 24px;
  display: inline-block;
  height: 24px;
  width: 24px;
}

/* line 82 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .loading-wheel.hidden {
  display: none;
}

/* line 87 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .result-container {
  margin: 20px;
}

/* line 90 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
@media print {

/* line 91 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
  .gfw .result-container {
    page-break-after: always;
  }
}

/* line 94 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .report-body .title {
  font-family: "Arial MT Condensed Bold", Arial, Georgia, sans-serif;
  font-size: 24px;
}

/* line 98 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .report-body .left-panel,
.gfw .report-body .right-panel {
  display: inline-block;
  margin: 0 10px;
  width: 430px;
}

/* line 104 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .report-body .loss-chart {
  height: 400px;
}

/* line 113 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .report-body .right-panel {
  float: right;
}

/* line 116 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .rspo-results-table {
  border-collapse: collapse;
  text-align: center;
  border-spacing: 0;
  margin: 20px auto;
  width: 80%;
}

/* line 123 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .rspo-results-table th,
.gfw .rspo-results-table tr td:first-child {
  font-family: "Arial MT Condensed Bold", Arial, Georgia, sans-serif;
}

/* line 127 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .rspo-results-table th,
.gfw .rspo-results-table td {
  border: 1px solid #adadad;
  padding: 5px 0 2px;
}

/* line 132 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .rspo-results-table .change-area-unit {
  margin-right: 10%;
  float: right;
}

/* line 136 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .active-fires-badge {
  border: 2px solid #000;
  box-sizing: border-box;
  text-align: center;
  margin: 10px auto;
  width: 300px;
}

/* line 143 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .active-fires-badge div {
  margin: 10px 0;
}

/* line 146 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .active-fires-label {
  font-family: "Arial MT Condensed Bold", Arial, Georgia, sans-serif;
  color: #f44;
  font-size: 28px;
}

/* line 151 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .active-fires-label div {
  line-height: 42px;
  font-size: 42px;
  margin: 0;
}

/* line 156 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .total-active-fires-label {
  font-family: "Arial MT Condensed Bold", Arial, Georgia, sans-serif;
  font-size: 16px;
}

/* line 160 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .suitability-container .child-row {
  padding-left: 15px;
}

/* line 163 : /Users/Robert/Projects/github_work/GFW-C/src/app/css/report.styl */
.gfw .suitability-container .left-panel {
  min-height: 400px;
}
