// Useful Functions
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments

baseGray = #e6e6e6
lightGrayFont = #747474
mediumGray = #888
redButton = #F44

// Font Family for the Application
@font-face
	font-family "Arial MT Condensed Bold"
	src url("fonts/ArialMTStd-BoldCond.otf") format("opentype")

@font-face
	font-family "Arial MT Condensed Light"
	src url("fonts/ArialMTStd-LightCond.otf") format("opentype")

html, body 
	font-family "Arial MT Condensed Light", Arial, Georgia, sans-serif
	background white
	
.gfw #report
	margin 20px auto
	width 960px

.gfw .report-header
	background url("images/header_tree_background.jpg") repeat-x scroll center top transparent
	border 1px solid black
	border-bottom 0px
	min-height 100px

.gfw .report-body
	border 1px solid black
	
.gfw #title
	font-family "Arial MT Condensed Bold", Arial, Georgia, sans-serif
	padding-top 10px
	margin-left 10px
	max-width 750px
	font-size 36px

.gfw .total-area
	padding 5px 0 15px
	margin-left 10px

.gfw .total-area-value
	font-family "Arial MT Condensed Bold", Arial, Georgia, sans-serif	

.gfw .subscribe-alerts
	background-color redButton
	padding 5px 8px 3px
	border-radius(5px)
	position absolute
	cursor pointer
	color white
	right 10px
	top 10px

.gfw .print-button
	background url('images/print-icon.png') no-repeat -1px -35px
	position absolute
	cursor pointer
	height 28px
	width 32px
	right 10px
	top 50px

.gfw .print-button.disabled
	background url('images/print-icon.png') no-repeat -1px 0px
	cursor wait

.gfw .loading-wheel
	background url('images/loader.gif')
	background-size 24px
	display inline-block
	height 24px
	width 24px

.gfw .loading-wheel.hidden
	display none


// Report container contents begin here
.gfw .result-container
	margin 20px

.gfw .report-body .title
	font-family "Arial MT Condensed Bold", Arial, Georgia, sans-serif
	font-size 24px

.gfw .report-body .left-panel,
.gfw .report-body .right-panel
	display inline-block
	margin 0 10px
	width 430px

.gfw .report-body .right-panel
	float right
	
.gfw .rspo-results-table
	border-collapse collapse
	text-align center
	border-spacing 0
	margin 20px auto
	width 80%

.gfw .rspo-results-table th,
.gfw .rspo-results-table tr td:first-child
	font-family "Arial MT Condensed Bold", Arial, Georgia, sans-serif

.gfw .rspo-results-table th,
.gfw .rspo-results-table td
	border 1px solid #adadad
	padding 5px 0 2px

.gfw .rspo-results-table .change-area-unit
	margin-right 10%
	float right

.gfw .active-fires-badge
	border 2px solid #000
	box-sizing border-box
	text-align center
	margin 10px auto
	width 300px

.gfw .active-fires-badge div
	margin 10px 0

.gfw .active-fires-label
	font-family "Arial MT Condensed Bold", Arial, Georgia, sans-serif
	color redButton
	font-size 28px

.gfw .active-fires-label div
	line-height 42px
	font-size 42px
	margin 0

.gfw .total-active-fires-label
	font-family "Arial MT Condensed Bold", Arial, Georgia, sans-serif
	font-size 16px

.gfw .suitability-container .child-row
	padding-left 15px

.gfw .suitability-container .left-panel
	min-height 400px
