
/* line 112 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
@font-face {
  font-family: "Arial MT Condensed Bold";
  src: url("fonts/ArialMTStd-BoldCond.otf") format("opentype");
}

/* line 18 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
@font-face {
  font-family: "Arial MT Condensed Light";
  src: url("fonts/ArialMTStd-LightCond.otf") format("opentype");
}

/* line 22 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
html,
body {
  font-family: "Arial MT Condensed Light", Arial, Georgia, sans-serif;
  background: #fff;
}

/* line 26 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw #report {
  margin: 20px auto;
  width: 960px;
}

/* line 30 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .report-header {
  background: url("images/header_tree_background.jpg") repeat-x scroll center top transparent;
  border: 1px solid #000;
  border-bottom: 0px;
  min-height: 100px;
}

/* line 36 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .report-body {
  border: 1px solid #000;
}

/* line 39 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw #title {
  font-family: "Arial MT Condensed Bold", Arial, Georgia, sans-serif;
  padding-top: 10px;
  margin-left: 10px;
  max-width: 750px;
  font-size: 36px;
}

/* line 46 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .total-area {
  padding: 5px 0 15px;
  margin-left: 10px;
}

/* line 50 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .total-area-value {
  font-family: "Arial MT Condensed Bold", Arial, Georgia, sans-serif;
}

/* line 53 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .subscribe-alerts {
  background-color: #e98300;
  padding: 5px 8px 3px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: absolute;
  cursor: pointer;
  color: #fff;
  right: 10px;
  top: 10px;
}

/* line 63 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .print-button {
  background: url("images/print-icon.png") no-repeat -1px -35px;
  position: absolute;
  cursor: pointer;
  height: 28px;
  width: 32px;
  right: 10px;
  top: 50px;
}

/* line 72 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .print-button.disabled {
  background: url("images/print-icon.png") no-repeat -1px 0px;
  cursor: wait;
}

/* line 76 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .loading-wheel {
  background: url("images/loader.gif");
  background-size: 24px;
  display: inline-block;
  height: 24px;
  width: 24px;
}

/* line 83 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .loading-wheel.hidden {
  display: none;
}

/* line 88 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .result-container {
  margin: 20px;
}

/* line 91 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
@media print {

/* line 92 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
  .gfw .result-container {
    page-break-after: always;
  }
}

/* line 95 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .report-body .title {
  font-family: "Arial MT Condensed Bold", Arial, Georgia, sans-serif;
  font-size: 24px;
}

/* line 99 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .report-body .left-panel,
.gfw .report-body .right-panel {
  display: inline-block;
  margin: 0 10px;
  width: 430px;
}

/* line 105 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .report-body .loss-chart {
  height: 400px;
}

/* line 114 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .report-body .right-panel {
  float: right;
}

/* line 117 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .rspo-results-table {
  border-collapse: collapse;
  text-align: center;
  border-spacing: 0;
  margin: 20px auto;
  width: 80%;
}

/* line 124 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .rspo-results-table th,
.gfw .rspo-results-table tr td:first-child {
  font-family: "Arial MT Condensed Bold", Arial, Georgia, sans-serif;
}

/* line 128 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .rspo-results-table th,
.gfw .rspo-results-table td {
  border: 1px solid #adadad;
  padding: 5px 0 2px;
}

/* line 133 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .rspo-results-table .change-area-unit {
  margin-right: 10%;
  float: right;
}

/* line 137 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .active-fires-badge {
  border: 2px solid #000;
  box-sizing: border-box;
  text-align: center;
  margin: 10px auto;
  width: 300px;
}

/* line 144 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .active-fires-badge div {
  margin: 10px 0;
}

/* line 147 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .active-fires-label {
  font-family: "Arial MT Condensed Bold", Arial, Georgia, sans-serif;
  color: #f44;
  font-size: 28px;
}

/* line 152 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .active-fires-label div {
  line-height: 42px;
  font-size: 42px;
  margin: 0;
}

/* line 157 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .total-active-fires-label {
  font-family: "Arial MT Condensed Bold", Arial, Georgia, sans-serif;
  font-size: 16px;
}

/* line 161 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .suitability-container .child-row {
  padding-left: 15px;
}

/* line 164 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .suitability-container .left-panel {
  min-height: 400px;
}

/* line 167 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .loader-wheel {
  background: url("images/loader.gif") no-repeat left;
  background-color: #e6e6e6;
  background-color: rgba(230,230,230,0.75);
  padding: 6px 5px 0 25px;
  border: 1px solid #000;
  background-size: 22px;
  display: inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 22px;
}

/* line 178 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .loader-wheel.area {
  position: relative;
  width: 22px;
  padding: 0;
  top: 7px;
}

/* line 184 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .checkbox-container {
  padding: 5px;
}

/* line 187 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .checkbox-container input {
  margin-right: 5px;
}

/* line 190 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .email-container,
.gfw .submit-container,
.gfw .message-container {
  text-align: center;
  margin: 10px 0;
}

/* line 194 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .email-container input {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: 26px;
  padding-left: 5px;
  font-size: 14px;
  height: 26px;
  width: 240px;
  outline: 0;
}

/* line 204 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .submit-container button {
  border: 1px solid #e6e6e6;
  background: #e6e6e6;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 5px 3px;
  font-size: 14px;
  cursor: pointer;
  outline: 0;
}

/* line 213 : /Users/lucascotner/Documents/Projects/2278-wri-oil-palm/src/app/css/report.styl */
.gfw .submit-container button:hover,
.gfw .submit-container button:active {
  border: 1px solid #e98300;
  background: #e98300;
}
