// Useful Functions
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments

top-border-radius()
	-webkit-border-top-right-radius arguments
	-webkit-border-top-left-radius arguments
	-moz-border-radius topright arguments
	-moz-border-radius topleft arguments
	border-top-right-radius arguments
	border-top-left-radius arguments

lightGray = #ececed
mediumGray = #888
goldFont = #f0ab00
greyBorder = #b2b2b2
hoverBackground = #CDCDCD
orangeSelected = rgb(233, 131, 0)
orangeHover = rgba(233, 131, 0, 0.45)
wizardBlue = #00688B

.gfw .wizard-container
	background-color #fff
	position absolute
	z-index 5
	bottom 0
	left 0
	top 0

.gfw .wizard-tab
	font-family Arial, sans-serif
	background-color orangeSelected
	-webkit-transform rotate(90deg)
	-ms-transform rotate(90deg)
	transform rotate(90deg)
	top-border-radius(5px)
	position absolute
	font-size 20px
	cursor pointer
	padding 10px
	color #fff
	left -30px
	top 150px
	z-index 5

.gfw .wizard, .gfw .wizard .wizard-root
	height 100%
	width 100%

.gfw .wizard-header
	position absolute
	height 65px
	right 10px
	left 10px
	top 10px

.gfw .wizard-body
	position absolute
	bottom 10px
	right 10px
	left 10px
	top 85px

.gfw .wizard-body select
	font-size 16px

.gfw .wizard-body > div
	overflow-y auto
	height 100%

.gfw .wizard-header .title
	text-decoration underline
	font-size 26px

.gfw .wizard-header .button
	border 1px solid mediumGray
	background-color lightGray
	border-radius(5px)
	font-weight bold
	padding 8px 10px
	cursor pointer
	margin 0 5px
	float right

.gfw .wizard-header .breadcrumbs
	margin 10px 0
	clear both

.gfw .wizard-header .breadcrumbs .active
	font-weight bold
	color #000

.gfw .wizard-header .breadcrumbs .enabled
	cursor pointer
	color goldFont

.gfw .wizard-header .breadcrumbs .carat
	color #000

.gfw .wizard-header .breadcrumbs,
.gfw .wizard-header .breadcrumbs span:not(.enabled) .carat
	color lightGray
	font-size 20px

.gfw .wizard-body .hidden,
.gfw .wizard-body .loading-wheel.hidden
	display none

.gfw .wizard-body .step-title
	margin-bottom 5px
	font-size 24px

.gfw .wizard-body .s1-radio-container
	font-size 18px
	margin 10px

.gfw .wizard-body .next-button-container
	font-size 24px
	margin 20px
	float right

.gfw .wizard-body .next-button
	background-color wizardBlue
	border 1px solid mediumGray
	padding 10px 20px 6px
	border-radius(5px)
	cursor pointer
	color #fff

.gfw .wizard-body .next-button.disabled
	background-color mediumGray
	cursor default
	opacity 0.5
	color #000

.gfw .wizard-body .s2-tools
	margin 20px 0

.gfw .step .clear-custom-features
	text-decoration underline
	display inline-block
	margin 10px 0 0
	cursor pointer
	color blue

.gfw .step .drawing-instructions
	margin 10px 0

.gfw .step .upload-instructions
	margin-bottom 5px

.gfw .step .selected-analysis-area
	font-size 18px

.gfw .step .current-selection
	font-weight bold
	color goldFont

.gfw .step .drawing-tools
	text-align center
	font-size 18px
	margin 10px 0

.gfw .step .drawing-tool-button
	background-color lightGray
	display inline-block
	padding 8px 10px 4px
	border-radius(5px)
	cursor pointer
	margin 0 5px

.gfw .step .drawing-tool-button:hover
	background-color orangeHover	

.gfw .step .drawing-tool-button.active
	background-color orangeSelected

.gfw .custom-feature-row
	cursor pointer

.gfw .upload-toolbox form
	text-align center

.gfw .upload-toolbox #dropdownContainerName
	text-align center
	margin 20px 0

.gfw .custom-graphics-list-container
	margin 20px 0

.gfw .dijitComboBoxMenuPopup
	max-height 300px

.gfw .wizard .dijitInputField
	padding 3px 10px 0

.gfw .wizard-checkbox-container
	font-size 18px
	margin 5px 0

.gfw .wizard .wizard-checkbox
	display inline-block
	cursor pointer

.gfw .wizard .child-checkboxes
	margin-left 15px

.gfw .wizard .wizard-checkbox-label
	margin-left 5px

.gfw .wizard-checkbox.active .custom-check
	background-color orangeSelected

.gfw .wizard-checkbox.active .custom-check span
	left 9px

.gfw .wizard-checkbox.active .wizard-checkbox-label
	color orangeSelected
	
.gfw .step .list-container
	margin 5px

.gfw .list-container .wizard-list-item
	font-weight bold
	font-size 18px

.gfw .list-container .wizard-list-child-item
	font-weight normal
	margin-left 10px
	font-size 16px

.gfw .list-container .wizard-list-item span:last-of-type,
.gfw .list-container .wizard-list-item span:last-of-type
	cursor pointer

.gfw .wizard-body .country-select,
.gfw .wizard-body .commodity-type-select,
.gfw .wizard-body .certification-scheme-select
	vertical-align top

.gfw .wizard-body .loading-wheel
	background url('images/loader.gif')
	background-size 24px
	display inline-block
	height 24px
	width 24px

