<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>

        <serverUrl url="http://services.arcgis.com/hBEMHCkbQdfV906F/ArcGIS/rest/services/data_submission_form/FeatureServer"
                    matchAll="true"/>

        <serverUrl url="http://services.arcgis.com/hBEMHCkbQdfV906F/arcgis/rest/services/data_submission_portal_form/FeatureServer"
                    matchAll="true"/>
                    <!--User/pass being grabbed from Heroku config -->
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
