<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>

        <serverUrl url="http://services.arcgis.com/hBEMHCkbQdfV906F/arcgis/rest/services/data_submission_form/FeatureServer"
                    matchAll="true"
                    username="agol_user"
                    password="agol_pass"
                    />

        <serverUrl url="http://gis-gfw.wri.org/arcgis/rest/services/protected_services/MapServer"
                    matchAll="true"
                    username="GFW_BR_USERNAME"
                    password="GFW_BR_PASSWORD"
                    />

        <serverUrl url="http://gis-gfw.wri.org/arcgis/rest/services/cached/wdpa_protected_areas/MapServer"
                    matchAll="true"
                    username="GFW_BR_USERNAME"
                    password="GFW_BR_PASSWORD"
                    />

                    <!--User/pass being grabbed from Heroku config -->
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
