<div id='header-container' class="header relative">
	<div class='nav-topper'>
		<div class='light-gray-font inner'>
			A partnership convened by the <a href='http://www.wri.org' target='_blank'>World Resources Institute</a>
		</div>
	</div>
	<header class='nav-header'>
		<div class="nav-separator"></div>
		<div id='nav-content' class="inner">
			<a href='./' class='header-logo'>Global Forest Watch Commodoties</a>
			<span class='beta-logo'>BETA VERSION</span>
			<ul class='nav-link-list'>
				<li class='nav-link' data-view='home' data-external='false'>HOME</li>
				<li class='nav-link' data-view='map' data-external='false'>MAP</li>
				<li class='nav-link' data-view='blog' data-external='true'>BLOG</li>
				<li class='nav-link' data-view='publications' data-external='false'>PUBLICATIONS</li>
				<li class='nav-link' data-view='data' data-external='false'>DATA</li>
				<li class='nav-link' data-view='methods' data-external='false'>METHODS</li>
				<li class='nav-link' data-view='about' data-external='false'>ABOUT</li>
				<li class='nav-link' data-view='gfw' data-external='true'>GFW</li>
			</ul>
		</div>
		<div class="header-title reset inner">
			A business tool to address deforestation in commodity supply chains
		</div>
		<div class='map-layer-controls'>
			<ul>
				<li id='forest-change-layers' class="layer-list-header forest-change" data-filter='forest-change'>
					<a>Forest Change</a><div class='layer-line'></div>
				</li>
				<li id='forest-cover-layers' class="layer-list-header forest-cover" data-filter='forest-cover'>
					<a>Forest Cover</a><div class='layer-line'></div>
				</li>
				<li id='forest-use-layers' class="layer-list-header forest-use" data-filter='forest-use'>
					<a>Forest Use</a><div class='layer-line'></div>
				</li>
				<li id='conservation-layers' class="layer-list-header conservation" data-filter='conservation'>
					<a>Conservation</a><div class='layer-line'></div>
				</li>
				<li id='agro-suitability-layers' class="layer-list-header agro-suitability" data-filter='agro-suitability'>
					<a>Agricultural Suitability</a><div class='layer-line'></div>
				</li>
<!-- 				<li id='company-pages-layers' class="layer-list-header company-pages" data-filter='company-pages'>
					<a>Company Pages</a><div class='layer-line'></div>
				</li> -->
			</ul>
		</div>
		<div id='master-layer-list' class=''>

		</div>
	</header>
</div>