<div class="header relative">
	<div class='nav-topper'>
		<div class='light-gray-font inner'>
			A partnership convened by the <a href='http://www.wri.org' target='_blank'>World Resources Institute</a>
		</div>
	</div>
	<header class='nav-header'>
		<div class="nav-separator"></div>
		<div class="inner">
			<a href='./' class='header-logo'>Global Forest Watch Commodoties</a>
			<span class='beta-logo'>BETA VERSION</span>
			<ul class='nav-link-list'>
				<li class='nav-link' data-view='home' data-external='false'>HOME</li>
				<li class='nav-link' data-view='map' data-external='false'>MAP</li>
				<li class='nav-link' data-view='data' data-external='false'>DATA</li>
				<li class='nav-link' data-view='methods' data-external='false'>METHODS</li>
				<li class='nav-link' data-view='about' data-external='false'>ABOUT</li>
				<li class='nav-link' data-view='gfw' data-external='true'>GFW</li>
				<li class='nav-link' data-view='publications' data-external='false'>PUBLICATIONS</li>
				<li class='nav-link' data-view='blog' data-external='true'>BLOG</li>
			</ul>
		</div>
		<div class="header-title reset inner">A business tool to address deforestation in commodity supply chains</div>
	</header>
</div>