
<div class='homepage'>
	<link rel="stylesheet" href="app/css/home.css">

	<div class="homeModeOptionsContainer">
    <div data-bind="foreach:homeModeOptions" class="homeModeOptionsViewerOuter">
      <div data-bind="css:{dijitHidden:!display,dijitVisible:display},click:$root.modeSelect" class="modeGroup">
        <div class="modeOption"></div>
        <div class="modeOptionRing">
          <div data-bind="html:html" class="modeText"></div>
        </div>
      </div>
      <!--div.homeModeOptionsViewerInner#homeModeOptionsViewerInner(data-bind="foreach:homeModeOptions")//div.modeOption(data-bind="html:html")
      -->
    </div>
  </div>
  <div class="homeModeDotsContainer">
    <div data-bind="foreach:homeModeOptions" class="homeModeOuter">
      <div data-bind="css:{activeDot:display}" class="homeModeDot">aasd</div>
    </div>
  </div>

	<div class="background-container">
		<img src="http://d1ooe4m5rq52vq.cloudfront.net/home-background-from%20AS2014-05-28.jpg" alt="">
	</div>
</div>