<div id='map-container' class="map-container">
  <!-- Begin Map Object -->
	<div id='map' class='map'>
		<div id="locator-widget-button" title="Locate" class="locator-widget-button"></div>
    <div id="basemap-gallery-button" title="Basemaps/Overlays" class="basemap-gallery-button"></div>
    <div id="share-button" title="Share" class="share-button"></div>
    <div id="simple-geocoder" class="simple-geocoder"></div>
    <div id="basemap-linker" data-bind="visible: showBasemapGallery()" class="basemap-linker modal-link" style="display: none;"></div>
    <div id="locator-linker" data-bind="visible: showLocatorOptions()" class="locator-linker modal-link" style="display: none;"></div>
    <!-- Begin Basemap/Overlays Modal -->
    <div id="basemap-modal" data-bind="visible: showBasemapGallery()" class="maptools-modal" style="display: none;">
    	<div class="container-header">Overlays</div>
    	<div class="overlays-container">
        <div class="overlays-checkbox" data-layer='road'>
          <span class="custom-check">
            <span></span>
          </span>
          <span class="custom-check-label">Roads</span>
        </div>
        <div class="overlays-checkbox" data-layer='river'>
          <span class="custom-check">
            <span></span>
          </span>
          <span class="custom-check-label">Rivers</span>
        </div>
        <div class="overlays-checkbox" data-layer='settle'>
          <span class="custom-check">
            <span></span>
          </span>
          <span class="custom-check-label">Settlements</span>
        </div>
        <div class="overlays-checkbox" data-layer='poBounds'>
          <span class="custom-check">
            <span></span>
          </span>
          <span class="custom-check-label">Political Boundaries</span>
        </div>
    	</div>
			<div class="container-header">Basemaps</div>
			<div id="basemap-gallery"></div>
    </div>
    <!-- End Basemap/Overlays Modal -->
    <!-- Begin Locator Modal -->
    <div id="locator-modal" data-bind="visible: showLocatorOptions()" class="maptools-modal" style="display: none;">
    	<div class="container-header">Locator</div>
      <div id="location-widget" class="location-widget"></div>
      <div class="line-splitter"></div>
      <div class="goto-area-search">Or, go to an area</div>
      <span id="clear-search-pins" data-bind="visible: showClearPinsOption()" class="clear-search-pins">Clear Pins</span>
      <div id="area-search-options-1" class="area-search-radio-container">
        <input id="dms-search" type="radio" name="search-option" checked="true"/>
        <label for="dms-search" class="search-option-label">Degrees/Minutes/Seconds</label>
      </div>
      <div id="area-search-options-2" class="area-search-radio-container">
        <input id="lat-long-search" type="radio" name="search-option"/>
        <label for="lat-long-search" class="search-option-label">Latitude/Longitude</label>
      </div>
      <div id="area-search-inputs" class="area-search-inputs">
        <div id="dms-inputs" data-bind="visible: showDMSInputs()" class="dms-inputs-container">
          <table>
            <tr>
              <td></td>
              <td>Degrees</td>
              <td>Minutes</td>
              <td>Seconds</td>
            </tr>
            <tr>
              <td>Latitude</td>
              <td>
                <input id="degreesLatInput" type="text" class="dms-inputs"/>
              </td>
              <td>
                <input id="minutesLatInput" type="text" class="dms-inputs"/>
              </td>
              <td>
                <input id="secondsLatInput" type="text" class="dms-inputs"/>
              </td>
            </tr>
            <tr>
              <td>Longitude</td>
              <td>
                <input id="degreesLonInput" type="text" class="dms-inputs"/>
              </td>
              <td>
                <input id="minutesLonInput" type="text" class="dms-inputs"/>
              </td>
              <td>
                <input id="secondsLonInput" type="text" class="dms-inputs"/>
              </td>
            </tr>
          </table>
        </div>
        <div id="lat-long-inputs" data-bind="visible: showLatLongInputs()" class="lat-long-inputs-container">
          <table>
            <tr>
              <td>Latitude</td>
              <td>
                <input id="latitudeInput" type="text" class="lat-long-inputs"/>
              </td>
            </tr>
            <tr>
              <td>Longitude</td>
              <td>
                <input id="longitudeInput" type="text" class="lat-long-inputs"/>
              </td>
            </tr>
          </table>
        </div>
        <div class="search-option-button-container">
          <div id="search-option-go-button" class="search-option-go-button">GO</div>
        </div>
			</div>
    </div>
    <!-- End Locator Modal -->
    <!-- Begin Layer Controls Container -->
    <div id='layer-controls' class="layer-controls-container">
      <div id="treecover_change_toolbox" class="toolbox treecover_change_toolbox" style="display: none">
        <div class="toolbox_legend">
          <p>Tree cover change</p>
        </div>
        <div class="toolbox-inner">
          <div class="slider-container">
            <div id="treeCoverSlider"></div>
          </div>
        </div>
      </div>
      <div id="forma_toolbox" class="toolbox forma_toolbox" style="display: none">
        <div class="toolbox_legend">
          <p>FORMA alerts</p>
        </div>
        <div class="toolbox-inner">
          <div class="slider-container">
            <div id="formaAlertSlider"></div>
          </div>
        </div>
      </div>
      <div id="fires_toolbox" class="toolbox fires_toolbox" style="display: none">
        <div class="toolbox_legend">
          <p>NASA active fire alerts</p>
        </div>
        <div class="toolbox-inner">
          <ul class="toolbox-list">
            <li data-filter='7' class="selected">Past Week</li>
            <li data-filter='3' >Past 72 hours</li>
            <li data-filter='2' >Past 48 hours</li>
            <li data-filter='1' >Past 24 hours</li>
          </ul>
          <div class="high-confidence-fires">
            <input type="checkbox" id='high-confidence'>
            <label for="high-confidence">Only show high confidence fires</label>
          </div>
        </div>
      </div>
      <div id='suitability_toolbox' class="suitability_toolbox" style="display: none">
        <div class="toolbox_legend_suitability">
          <p>Suitability Criteria</p>
        </div>
        <div id="suitability-accordion" class="suitability-accordion">
          <div id="environmental-criteria" class="accordion-container">
            <div class="slider-name">Peat Depth (cm)</div>
            <div class="slider-container">
              <div class="slider" id='peat-depth-slider'></div>
              <div class="slider-labels zero">0 cm</div>
              <div class="slider-labels hundred">1,200 cm</div>
            </div>
            <div class="slider-name">Conservation area buffers (m)</div>
            <div class="slider-container">
              <div class="slider" id='conservation-area-slider'></div>
              <div class="slider-labels zero">500 m</div>
              <div class="slider-labels hundred">5,000 m</div>
            </div>
            <div class="slider-name">Water resource buffers (m)</div>
            <div class="slider-container">
              <div class="slider" id='water-resource-slider'></div>
              <div class="slider-labels zero">50 m</div>
              <div class="slider-labels hundred">1,000 m</div>
            </div>
            <div class="slider-name">Slope (%)</div>
            <div class="slider-container">
              <div class="slider" id='slope-slider'></div>
              <div class="slider-labels zero">0%</div>
              <div class="slider-labels hundred">80%</div>
            </div>
            <div class="criteria-separator">Land Cover - Southeast Asia</div>
            <div class="suitable-checkbox">
              <input id="grassland-shrub-check" />
              <label for="grassland-shrub-check" class="checkbox-label">Grassland/shrub</label>
            </div>
            <div class="suitable-checkbox">
              <input id="plantations-check" />
              <label for="plantations-check" class="checkbox-label">Plantations</label>
            </div>
            <div class="suitable-checkbox">
              <input id="agriculture-check" />
              <label for="agriculture-check" class="checkbox-label">Agriculture</label>
            </div>
            <div class="suitable-checkbox">
              <input id="settlements-other-check" />
              <label for="settlements-other-check" class="checkbox-label">Settlements/other land use</label>
            </div>
            <div class="suitable-checkbox">
              <input id="primary-forest-check" />
              <label for="primary-forest-check" class="checkbox-label">Primary forest</label>
            </div>
            <div class="suitable-checkbox">
              <input id="secondary-forest-check" />
              <label for="secondary-forest-check" class="checkbox-label">Secondary forest</label>
            </div>
            <div class="suitable-checkbox">
              <input id="wetlands-check" />
              <label for="wetlands-check" class="checkbox-label">Wetland</label>
            </div>
          </div>
          <div id="crop-criteria" class="accordion-container">
            <div class="slider-name">Elevation (m)</div>
            <div class="slider-container">
              <div class="slider" id="elevation-slider"></div>
              <div class="slider-labels zero">0 m</div>
              <div class="slider-labels hundred">5,000 m</div>
            </div>
            <div class="slider-name">Rainfall (mm)</div>
            <div class="slider-container">
              <div class="slider" id="rainfall-slider"></div>
              <div class="slider-labels zero">1,500 mm/yr</div>
              <div class="slider-labels hundred">7,000 mm/yr</div>
            </div>
            <div class="slider-name">Soil drainage</div>
            <div class="slider-container">
              <div class="slider" id="soil-drainage-slider"></div>
              <div class="slider-labels zero">Stagnant</div>
              <div class="slider-labels hundred">Very Excessive</div>
            </div>
            <div class="slider-name">Soil depth (cm)</div>
            <div class="slider-container">
              <div class="slider" id="soil-depth-slider"></div>
              <div class="slider-labels zero">Very Shallow</div>
              <div class="slider-labels hundred">Extremely Deep</div>
            </div>
            <div class="slider-name">Soil acidity (pH)</div>
            <div class="slider-container">
              <div class="slider" id="soil-acid-slider"></div>
              <div class="slider-labels zero">Excessively Acid</div>
              <div class="slider-labels hundred">Slightly Alkaline</div>
            </div>
            <div class="criteria-separator">Soil Type</div>
            <div class="suitable-checkbox">
              <input id="inceptisol-check" />
              <label for="inceptisol-check" class="checkbox-label">Inceptisol</label>
            </div>
            <div class="suitable-checkbox">
              <input id="oxisol-check" />
              <label for="oxisol-check" class="checkbox-label">Oxisol</label>
            </div>
            <div class="suitable-checkbox">
              <input id="alfisol-check" />
              <label for="alfisol-check" class="checkbox-label">Alfisol</label>
            </div>
            <div class="suitable-checkbox">
              <input id="ultisol-check" />
              <label for="ultisol-check" class="checkbox-label">Ultisol</label>
            </div>
            <div class="suitable-checkbox">
              <input id="spodosol-check" />
              <label for="spodosol-check" class="checkbox-label">Spodosol</label>
            </div>
            <div class="suitable-checkbox">
              <input id="entisol-check" />
              <label for="entisol-check" class="checkbox-label">Entisol</label>
            </div>
            <div class="suitable-checkbox">
              <input id="histosol-check" />
              <label for="histosol-check" class="checkbox-label">Histosol</label>
            </div>
            <div class="suitable-checkbox">
              <input id="mollisol-check" />
              <label for="mollisol-check" class="checkbox-label">Mollisol</label>
            </div>
            <div class="suitable-checkbox">
              <input id="rock-check" />
              <label for="rock-check" class="checkbox-label">Rock</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Layer Controls Container -->
    <!-- Begin Legend -->
    <div id="legend-container" class="legend-container">
      <div id="legend-title" class="legend-title">
        <span>Legend</span>
      </div>
      <div id="legend-content" class="legend-content">
        <div id="legend"></div>
      </div>
    </div>
    <!-- End Legend -->
    <!-- Wizard Tab -->
    <div id="wizard-tab" class="wizard-tab">Analysis</div>
    <!-- Wizard Tab -->
	</div>
  <!-- End Map Object -->  
</div>
<!-- Begin Analysis Wizard -->
<div id="wizard-container" class="wizard-container">
  <div id="wizard" class="wizard"></div>
</div>
<!-- End Analysis Wizard -->