<div id="methodsInnerContainer" class="content-inner-container">
    <div id="methodsHeader" class="content-header">
        <div id="methodHeaderTitle" class="header-block-title">
            <h1>Methods</h1>
        </div>
        <div id="methodsHeaderDesc" class="header-block-desc">
            <p>Learn about the methodology behind Global Forest Watch Commodities (GFW Commodities).</p>
        </div>
    </div>
    <div id="methodsContentContainer" class="content-container">
        <div id="navLeft" class="navigation_left">
            <ul id="methodsNavList" class="navigation-list">
                <li id="navListTitle" class="item-title"><i class="caret-down"></i></li>
                <li id="methodsDataAnalysisNav" class="nav-item"><a class="nav-subpage selected">DATA ANALYSIS</a></li>
                <li id="methodsForestAnalyzerNav" class="nav-item"><a class="nav-subpage">FOREST ANALYZER</a></li>
                <li id="methodsSuitabilityMapperNav" class="nav-item"><a class="nav-subpage">SUITABILITY MAPPER</a></li>
                <li id="methodsRSPOToolsNav" class="nav-item"><a class="nav-subpage">RSPO TOOLS</a></li>
            </ul>
        </div>
        <div id="contentRight" data-bind="html:htmlContent" class="content_right">
            <div id="methodsDataAnalysis"  style="display: block">
                <h2 class="source_category_title">How does GFW Commodities analyze data?</h2>

                <div class="source_body">
                    <p>Global Forest Watch Commodities (GFW Commodities) is a dynamic online forest monitoring and alert system that unites satellite technology and open data to guarantee access to timely and reliable information about forests. GFW Commodities draws on timely and reliable information to provide business-relevant analyses through several tools, including: the Forest Analyzer, Suitability Mapper, and RSPO assessment tools. GFW Commodities is committed to open and reliable analysis, and strives for transparency in the methods behind the data available through our tools.</p>
                    <p>You can learn more about how Global Forest Watch works <a href="http://www.globalforestwatch.org/howto/general_questions" target="_blank">here</a>.</p>
                </div>
            </div>
            <div id="methodsForestAnalyzer"  style="display: none">
                <h2 class="source_category_title">Forest Analyzer</h2>

                <p class="source_category_description"></p>

                <div class="source_body">
                    <p>Methodology documents coming soon!</p>
                </div>
            </div>
            <div id="methodsSuitabilityMapper"  style="display: none">
                <h2 class="source_category_title">Suitability Mapper</h2>

                <p class="source_category_description"></p>

                <div class="source_body">
                    <p>Palm oil production in Indonesia has the potential to generate local benefits if oil palm cultivation expansion follows sustainable planning and management practices, including respect for local interests and rights. Potential benefits include increased incomes, profits, and government revenues, reduced poverty, and improved natural resource management. Whether this potential is achieved will depend on how new areas for oil palm cultivation are identified.
                    </p>
                    <p>This demonstrates how to implement a quick and cost-effective method for identifying potentially suitable areas for oil palm cultivation. The method is designed in accordance with established standards for sustainable palm oil production, such as those of the roundtable on Sustainable Palm Oil (RSPO); incorporates relevant Indonesian laws and policies; and is consistent with proposed national REDD+ strategies to support palm oil production on low carbon degraded land. The method consists of a desktop analysis using readily available data and rapid field assessments. It is based on a set of indicators related to selected environmental, economic, social, and legal considerations.
                    </p>
                    <p>This method can be used by companies as a first step in a site selection process for certified sustainable plantation and can inform government officials and nongovernmental organizations (NGOs) in assessing land use policy options to support the expansion of sustainable palm oil production on degraded land. However, since it is designed primarily to rapidly identify the highest priority areas for further investigation, it should not be used to predetermine where oil palm cultivation expansion should occur.
                    </p>
                    <p>Using this method as a first step in a site selection process can reduce the costs of implementing the additional due diligence activities required to confirm the suitability of a potential site for oil palm cultivation. These activities, which are outside the scope of this paper, include community mapping to document community claims and rights, conducting high conservation value (HCV) and social impact assessments, implementing a comprehensive free prior and informed consent (FPIC) process, and fulfilling legal requirements.
                    </p>
                    <p>The World Resources Institute (WRI) and Sekala applied this method to identify nine potentially suitable areas in the Indonesian province of West Kalimantan for a pilot sustainable palm oil project under Project POTICO (<a href="http://www.wri.org/project/potcio" target="_blank">http://www.wri.org/project/potcio</a>).These nine sites were identified through targeted field assessments of high priority sites identified through the desktop analysis using project-specific criteria and do not represent all potentially suitable areas in the province.
                    </p>
                    <p>The desktop analysis, the first step in this method, classified a total of approximately 7 million hectares of land in the provinces of West Kalimantan and Central Kalimantan as potentially suitable, using the best publicly available data at the time of publication. This desktop analysis, associated data, and other supplemental materials are being made easily accessible on a public website (<a href="http://wri.org/publication/identifying-degraded-land=sustainable-palm-oil-indoneisa" target="_blank">http://wri.org/publication/identifying-degraded-land=sustainable-palm-oil-indoneisa</a>). The website will also allow users to generate their own suitability maps – using parameters of their choice – to guide their own targeted field assessments.
                        Download the full methodology document here.
                    </p>
                </div>

            </div>
            <div id="methodsRSPOTools"  style="display: none">
                <h2 class="source_category_title">RSPO</h2>

                <p class="source_category_description"> </p>

                <div class="source_body">
                    <a href="http://d1ooe4m5rq52vq.cloudfront.net/downloads/RSPO%20Land%20Use%20Change%20Analysis%20Methodology.pdf" target="_blank">RSPO Land Use Change Analysis Methodology</a>
                </div>
            </div>
        </div>
    </div>
</div>