<div id="aboutInnerContainer" class="content-inner-container">
  <div id="aboutHeader" class="content-header">
    <div id="aboutHeaderTitle" class="header-block-title">
      <h1>About</h1>
      <h1>Overview</h1>
    </div>
    <div id="aboutHeaderDesc" class="header-block-desc">
      <p>Global Forest Watch Commodities is an online platform that empowers companies to analyze the impact of key commodities on forests, using the latest and most powerful data available. GFW Commodities builds on the groundbreaking platform, <a href='http://www.globalforestwatch.org' target='_blank'>Global Forest Watch</a>, but with a specific focus on companies who buy and sell major commodities that impact forests, such as palm oil, beef, soy, wood pulp. GFW Commodities is free to use and follows an open data approach in putting decision-relevant information in the hands of companies who want to minimize forest-related risks in their supply chain. </p>
      <!-- <p>GFW Commodities is supported by a diverse group of partners that contribute data, technical capabilities, funding, and expertise. The partnership is convened by the World Resources Institute. See a full list of partners below.</p>
      <p><iframe width="860" height="484" src="http://www.youtube.com/embed/CFOP1k6v0Cc" frameborder="0" allowfullscreen></iframe></p> -->
    </div>
  </div>
  <div id="aboutContentContainer" class="content-container">
    <div id="navLeft" class="navigation_left">
      <ul id="aboutNavList" class="navigation-list">
        <li id="navListTitle" class="item-title"><i class="caret-down"></i></li>
        <li id="aboutGFWNav" class="nav-item"><a class="nav-item-a default-selection">ABOUT GFW COMMODITIES</a></li>
        <li id="aboutHistoryNav" class="nav-item"><a class="nav-item-a">HISTORY</a></li>
        <li id="aboutPartnersNav" class="nav-item"><a class="nav-item-a">The GFW Partnership</a></li>
        <li id="aboutVideosNav" class="nav-item"><a class="nav-item-a">Tutorial Videos</a></li>
        <li id="aboutUsersNav" class="nav-item"><a class="nav-item-a">OTHER RESOURCES</a></li>
        
      </ul>
    </div>
    <div id="contentRight" data-bind="html:htmlContent" class="content_right">
      <div id="aboutGFW"  class="nav-subpage default-selection" style="display: none">
        <h2 class="source_category_title">How GFW Commodities Works</h2>

        <div class="source_body">
          <p class="source_category_description">
            “The loss of natural capital due to land use for primary production and processing activities is estimated to cost the global economy $1.8 trillion annually.” -<a href="https://www.cdp.net/CDPResults/CDP-global-forests-report-2013.pdf" target="_blank">CDP. The Commodity Crunch: Value at risk from deforestation </a>
          </p>

          <p>Almost every business depends on forests in some way. Buyers of commodities face risks if they do not know how their supply chain impacts forest resources. Sellers of commodities risk losing customers if they can’t credibly demonstrate that their products are deforestation-free.</p>
          <p>Global Forest Watch Commodities provides information and analysis to help you avoid these risks and be a better steward of forests. </p>
          <p>The GFW Commodities site is now open for beta testing to companies and individuals around the world who want to see how commodity supply chains are affecting forests in near real-time. Building on the flagship Global Forest Watch platform, we are now developing and launching specialized features and services geared for business users. This platform enables business users to:</p>
          <ol>
            <li>Use data on forest change, concessions, mills, and more to assess supply chain risks</li>
            <li>Verify that your commodity suppliers are in compliance with deforestation-free sourcing policies</li>
            <li>Identify issues as they happen</li>
            <li>Evaluate and demonstrate compliance with sustainability certification standards</li>
            <li>Communicate with customers about deforestation-free commodity production</li>
          </ol>
          <p>Over the coming years, GFW Commodities will develop these features together with a core group of corporate road-testers committed to supply chain transparency and ending commodity-driven deforestation. We’ll also establish a working group of interested companies to test the site as it is developed and provide feedback.</p>
          <p>For more information or to join the conversation, contact Elizabeth Baer, Corporate Engagement Manager for Global Forest Watch at GFWbusiness@wri.org.<p>
            <p> You can download a copy of GFW’s corporate partnerships policy here (coming soon).<p>

            </div>
          </div>
          <div id="aboutHistory"  class="nav-subpage" style="display: none">
            <h2 class="source_category_title">History</h2>

            <p class="source_category_description"></p>

            <div class="source_body">
              <p>Global Forest Watch originally began in 1997 as an initiative to establish a global forest monitoring network around the world, convened by the World Resources Institute and partners. It began as part of WRI’s Forest Frontiers Initiative. The original GFW achieved many outcomes toward the conservation of large intact forest areas.</p>
              <p>WRI has continued the work that Global Forest Watch started, working to improve forest information by merging the latest technology with on-the-ground partnerships. This culminated in the 2014 launch of the flagship Global Forest Watch platform. Now, GFW Commodities offers a  specialized portal to meet the specific needs of  businesses.</p>
              <p>GFW Commodities is also built on the foundations of the Forest and Landscapes in Indonesia project, which works to support government and civil society actions for effective and equitable land use in Indonesia. With GFW Commodities, we bring our experience and expertise engaging companies and governments in the palm oil sector together with Global Forest Watch’s ability to leverage the advent of new technologies and increased global connectivity. </p>

            </div>
          </dvi>

        </div>
        <div id="aboutPartners"  class="nav-subpage" style="display: none">
          <h2 class="source_category_title"></h2>

          <p class="source_category_description">

          </p>


          <div class="source_body">

            <h1 style="fira_sans_otmedium; color: #463F52;">The GFW Partnership</h1>
            <p>GFW Commodities is supported by a diverse group of partners that contribute data, technical capabilities, funding, and expertise. The partnership is convened by the World Resources Institute. See a full list of partners below.</p>
            <h3 class="overview_title first center">Partners & collaborators</h3>

            <div class="logoContainer">

              <ul class="logo-list">
                <li><a target="_blank" title="Agence française de développement international" href="http://www.afd.fr/home" class="afc"></a></li>
                <li><a target="_blank" title="Airbus" href="http://airbusdefenceandspace.com/" class="airbus"></a></li>
                <li><a target="_blank" title="Badan Nasional Penanggulangan Bencana" href="http://bnpb.go.id/" class="bnpb"></a></li>
                <li><a target="_blank" title="Banking Environment Initiative" href="http://www.cisl.cam.ac.uk/banking" class="footer-logo bei"></a></li>
                <li><a target="_blank" title="Blue Raster" href="http://www.blueraster.com" class="blueraster"></a></li>
                <li><a target="_blank" title="Cambridge Institute for Sustainability Leadership" href="http://www.cisl.cam.ac.uk/" class="cambridge"></a></li>
                <li><a target="_blank" title="CartoDB" href="http://www.cartodb.com" class="cartodb"></a></li>
                <li><a target="_blank" title="Center Global Development" href="http://www.cgdev.org/" class="cfgd"></a></li>
                <li><a target="_blank" title="CGIAR" href="http://foreststreesagroforestry.org/" class="cgiar"></a></li>
                <li><a target="_blank" title="CIAT" href="http://ciat.cgiar.org/" class="ciat"></a></li>
                <li><a target="_blank" title="Climate and Land Use Alliance" href="http://www.climateandlandusealliance.org/" class="clua"></a></li>
                <li><a target="_blank" title="Digital Globe" href="https://www.digitalglobe.com/" class="digitalglobe"></a></li>
                <li><a target="_blank" title="ESRI" href="http://www.esri.com/gfw" class="esri"></a></li>
                <li><a target="_blank" title="Earth Journalism" href="http://earthjournalism.net/" class="ejn"></a></li>
                <li><a target="_blank" href="http://www.ewmi.org" class="ewmi"></a></li>
                <li><a target="_blank" title="Global Forest Watch Canada" href="http://globalforestwatch.ca/" class="gfwca"></a></li>
                <li><a target="_blank" title="Google Earth Engine" href="http://earthengine.google.org/" class="google"></a></li>
                <li><a target="_blank" title="Imazon" href="http://www.imazon.org.br/pagina-inicial-en?set_language=en&amp;cl=en" class="imazon"></a></li>
                <li><a target="_blank" href="http://www.inab.gob.gt/" class="footer-logo inab"></a></li>
                <li><a target="_blank" title="IOI Loders Croklaan" href="http://europe.croklaan.com/taking-responsibility" class="ioi"></a></li>
                <li><a target="_blank" title="The Jane Goodall Institute" href="http://www.janegoodall.org/" class="goodall"></a></li>
                <li><a target="_blank" title="Le Ministère des Forêts et de la Faune" href="http://www.minfof.cm/" class="ministiere"></a></li>
                <li><a target="_blank" title="Mongabay" href="http://www.mongabay.com/" class="mongabay"></a></li>
                <li><a target="_blank" title="ONG Muyissi" href="http://www.ongmuyissi.org/" class="muyissi"></a></li>
                <li><a target="_blank" href="http://www.opendevelopmentcambodia.net/" class="opendevcam"></a></li>
                <li><a target="_blank" href="http://orbitalinsight.com/" class="orbital"></a></li>
                <li><a target="_blank" title="OSFAC" href="http://osfac.net/index.php?lang=en" class="osfac"></a></li>
                <li><a target="_blank" title="OSINFOR" href="http://www.osinfor.gob.pe/portal/index.php" class="osinfor"></a></li>
                <li><a target="_blank" title="Rain Forest Foundation" href="http://www.rainforestfoundationuk.org/" class="rfuk"></a></li>
                <li><a target="_blank" title="REDD Indonesia" href="http://www.redd-indonesia.org/" class="redd"></a></li>
                <li><a target="_blank" title="Reforestamos Mexico" href="http://www.reforestamosmexico.org/" class="rm"></a></li>
                <li><a target="_blank" title="Resolve" href="http://www.resolv.org/site-BiodiversityWildlifeSolutions/" class="resolve"></a></li>
                <li><a target="_blank" title="RSPO" href="http://www.rspo.org/" class="rspo"></a></li>
                <li><a target="_blank" title="Scanex" href="http://www.scanex.ru/en/" class="scanex"></a></li>
                <li><a target="_blank" title="Transparent World" href="http://www.transparentworld.ru/ru" class="twrus"></a></li>
                <li><a target="_blank" title="UNEP" href="http://www.unep.org/" class="unep"></a></li>
                <li><a target="_blank" title="UNEP-WCMC" href="http://www.unep-wcmc.org/" class="unepwcmc"></a></li>
                <li><a target="_blank" title="Unilever" href="http://www.unilever.com/" class="unilever"></a></li>
                <li><a target="_blank" title="University of Maryland" href="http://www.geog.umd.edu/" class="universitymaryland"></a></li>
                <li><a target="_blank" title="Vizzuality" href="http://www.vizzuality.com" class="vizzuality"></a></li>
                <li><a target="_blank" title="World Resorces Institute" href="http://www.wri.org" class="wri"></a></li>
                <li><a target="_blank" title="Woods Hole Research Center" href="http://www.whrc.org/" class="whrc"></a></li>
                <li><a target="_blank" title="Alliance for Zero Extinction" href="http://www.zeroextinction.org/" class="zeroextinction"></a></li>
                <li><a target="_blank" title="ZSL" href="http://www.zsl.org/" class="zsl"></a></li>
              </ul>

              <h2 style="padding-left: 36px;" class="overview_title center">Funders</h2>
              <h4 style="text-align:center; fira_sans_otmedium; color: #463F52; padding-left: 32px;">Current Funders</h4>
              <ul class="logo-list">
                <li class="last"><a target="_blank" href="http://um.dk/en/danida-en/" class="danida"></a></li>
                <li><a target="_blank" href="http://www.thegef.org/gef/" class="gef"></a></li>
                <li><a target="_blank" href="http://www.moore.org/" class="moore"></a></li>
                <li><a target="_blank" href="http://www.government.nl/ministries/bz" class="dutchforeign"></a></li>
                <li><a target="_blank" href="http://www.regjeringen.no/en/dep/kld/kampanjer/the-governments-climate-and-tree-project.html?id=733947" class="norwegian"></a></li>
                <li><a target="_blank" href="http://www.sida.se/english/" class="sida"></a></li>
                <li class="last"><a target="_blank" href="https://www.gov.uk/government/organisations/department-for-international-development" class="ukaid"></a></li>
                <li><a target="_blank" href="http://www.usaid.gov/" class="usaid"></a></li>
              </ul>

              <h4 style="text-align:center; fira_sans_otmedium; color: #463F52; padding-left: 38px; margin-top: 40px;">Past Funders</h4>
              <ul class="bullets">
                <li>Bobolink Foundation</li>
                <li><a target="_blank" href="http://www.ifc.org/wps/wcm/connect/regprojects_ext_content/ifc_external_corporate_site/bacp/projects/projsummary_wri">International Finance Corporation</a></li>
                <li><a target="_blank" href="http://www.jnj.com/">Johnson & Johnson (funded GFW Commodities)</a></li>
                <li><a target="_blank" href="http://lander.versoco.com/">NewPage (funded GFW Commodities)</a></li>
                <li><a target="_blank" href="http://www.rainforest-alliance.org">Rainforest Alliance</a></li>
                <li><a target="_blank" href="http://tiliafund.org/">The Tilia Fund</a></li>
                <li><a target="_blank" href="http://foundation.walmart.com/">Walmart Foundation (funded GFW Commodities)</a></li>
              </ul>

            </div> <!-- End Logo List -->


            <h3 style="padding-left: 38px;" class="overview_title center">Data providers</h3>
            <ul class="bullets">
              <li>Bird Life</li>
              <li>CGIAR</li>
              <li>Conservation International</li>
              <li>Digital Globe</li>
              <li>Food and Agriculture Organization of the United Nations</li>
              <li>Global Witness</li>
              <li>Google</li>
              <li>Greenpeace</li>
              <li>Imazon</li>
              <li>International Center for Tropical Agriculture (CIAT)</li>
              <li>International Union for Conservation of Nature (IUCN)</li>
              <li>NASA Fire Information for Resource Management System</li>
              <li>NASA Jet Propulsion Laboratory</li>
              <li>Organismo de Supervisión de los Recursos Forestales y de Fauna Silvestre (OSINFOR)</li>
              <li>SarVision</li>
              <li>Tierra Minada</li>
              <li>Transparent World</li>
              <li>UNEP World Conservation Monitoring Centre</li>
              <li>University of Maryland</li>
              <li>U.S. Geological Survey</li>
              <li>Winrock International</li>
              <li>Woods Hole Research Center</li>
              <li>World Resources Institute</li>
              <li>Yayasan Puter Indonesia</li>
            </ul>

            <h3 style="padding-left: 50px;" class="overview_title center">Website designed by</h3>
            <ul style="padding-left: 75px;" class="logo-list">
              <li><a target="_blank" href="http://www.blueraster.com" class="blueraster"></a></li>
            </ul>
            <br>
            <p style="text-align:center;padding-left: 55px;">We welcome others to join the growing GFW partnership.</p>
            <br>
            <ul class="center">
              <a style="margin-left: 35px;" href="mailto:mailto:gfw@wri.org" class="emailWRI">Email us</a>
            </ul>

          </div>
        </div>


        <div id="aboutUsers"  class="nav-subpage" style="display: none">
          <h2 class="source_category_title">Other Resources</h2>

          <p class="source_category_description"> </p>

          <div class="source_body">
            <p class="source_category_subtitle">Oil Palm Transparency Toolkit</p>

            <p>
              ZSL's Sustainable Palm Oil Transparency Toolkit (SPOTT) is an interactive resource, designed for investors and other stakeholders in the palm oil sector, to assess oil palm growers on the information that they make publicly available about the sustainability of their operations. SPOTT combines satellite mapping technology from Global Forest Watch with in-depth performance assessments on 25 of the largest publicly listed companies that grow oil palm, including 20 RSPO members and 5 non-members. Companies are assessed against a 48 indicator framework comprised of seven indicator categories, and each indicator contains a question, answer, score, and links to further information.
            </p>

            <a href="http://www.sustainablepalmoil.org/spott/" target="_blank">http://www.sustainablepalmoil.org/spott/</a>

          </div>
        </div>
        <div id="aboutVideos"  class="nav-subpage" style="display: none">
          <h2 class="source_category_title">Tutorial Videos</h2>

          <p class="source_category_description">
            Here's a set of brief video tutorials from the GFW team:
          </p>

          <div class='source_body videos_list'>
            <iframe width="606" height="341" src="//www.youtube.com/embed/CFOP1k6v0Cc" frameborder="0" allowfullscreen></iframe>
            <iframe width="606" height="341" src="//www.youtube.com/embed/KtLLhLQfWa4" frameborder="0" allowfullscreen></iframe>
            <iframe width="606" height="341" src="//www.youtube.com/embed/5ZFB4JHWUqM" frameborder="0" allowfullscreen></iframe>
            
          </div>
        </div>
