
<div class="footerModesContainer" data-bind=
"visible: (appState().v=='home')">
    <div class="footerWrapper">
        <div class="footerModes" data-bind="foreach:footerModeOptions">
            <div class="footerItem">
                <div class="receiveAlerts" data-bind="attr:{class:css}">
                    <div class="icon"></div>

                    <div class="title" data-bind="html:title">
                        Join the community
                    </div>

                    <div class="desc" data-bind="html:desc">
                        Sign up for our newsletters and commodity reports
                    </div>

                    <div data-bind="if: url"></div>

                    <div data-bind="if: url">
                        <a class="action" data-bind=
                        "html:action,attr: {href: url, target: target}"
                        href="http://www.wri.org/global-forest-watch-updates-and-newsletter"
                        target="_blank">Join Today</a>
                    </div>
                </div>
            </div>

            <div class="footerItem">
                <div class="analysisAlerts" data-bind="attr:{class:css}">
                    <div class="icon"></div>

                    <div class="title" data-bind="html:title">
                        Sign up for alerts
                    </div>

                    <div class="desc" data-bind="html:desc">
                        Receive alerts for clearance activity in your
                        concession or district of choice
                    </div>

                    <div data-bind="if: url"></div>

                    <div data-bind="ifnot: url">
                        <a class="action" data-bind=
                        "html:action,click:$root.footerSelect">Sign up
                        now</a>
                    </div>
                </div>
            </div>

            <div class="footerItem">
                <div class="submitStory" data-bind="attr:{class:css}">
                    <div class="icon"></div>

                    <div class="title" data-bind="html:title">
                        View monthly reports
                    </div>

                    <div class="desc" data-bind="html:desc">
                        Read the archive of reports on activity specific to
                        palm oil production
                    </div>

                    <div data-bind="if: url">
                        <a class="action">Coming Soon </a>
                    </div>

                    <div data-bind="ifnot: url"></div>
                </div>
            </div>
        </div>
    </div>
</div>
