<!-- Begin Submission Modal -->
<div id="submission-modal" class="submission-modal modal">
  <div class="close-icon"></div>
  <div class="modal-content">
    <div class="submit-inputs-container">
      <input id='submitModalLatitiude' type="text" data-bind='attr:{placeholder: submissionPlaceholder}' />
    </div>
    <div class="submission-modal-enter-button" data-bind='text: submissionEnterButton'></div>
  </div>
</div>
<!-- End Submission Modal -->
<div id="submissionInnerContainer" class="content-inner-container">

    <div id="submissionHeader" class="content-header">
        <div id="methodHeaderTitle" class="header-block-title">
            <h1>Data Submission Portal</h1>
        </div>
        <div id="submissionHeaderDesc" class="header-block-desc">
            <p>Thank you for submitting data to Global Forest Watch, please follow the instructions below.</p>
        </div>

<!-- <iframe id='submitDataFrame' style='width:100%; height:1000px;' src="https://docs.google.com/forms/d/1UEmnS9msdVmDOqgkwfXt321SQrwbJiVjEcSZEzXKeC8/viewform"></iframe> -->
    </div>

    <div id="methodsContentContainer" class="content-container">
        <div id="navLeft" class="navigation_left" style="font-weight:normal;color:#464052;font-size:12.45px;">
            <!-- <h2>Instructions</h2>
            <p>Concession areas or plantations:</p>
            <p>Submission must show the boundaries, not coordinates. Please specify in the attribute data or notes what the polygons refer to (e.g. planted areas, permitted areas, or concession areas)</p>

            <p>RSPO ACOP submissions:</p>
            <p>Submissions must show the boundaries for all global operations, certified and uncertified. Please indicate the planted areas and the permitted areas.</p>

            <p>Processing facilities:</p>
            <p>Data should be in the form of coordinates (e.g. lat/long). Please note the type of facility.</p>
            <p>Please attach your data here, and please attach a table of attribute data to the right.</p> -->

        </div>
        <div id="contentRight" class="content_right_submission">
          <div id="methodsDataAnalysis"  class="nav-subpage default-selection">
            <div class="source_body">
              <!-- <p>Thank you for submitting data to Global Forest Watch, please follow the instructions below.</p> -->
              <form id="storyForm" name="login" action="/login" method="post">
                <div class="storiesInput">
                  <h4 class="storyHeader">NAME</h4>
                  <h5 id="optionalName" class="requiredItem">Required</h5>
                  <input id="storyNameInput" name='storyUserName' data-bind="value: storyNameData" type="text"/>
                </div>
                <div class="storiesInput">
                  <h4 class="storyHeader">COMPANY</h4>
                  <h5 id="optionalName" class="requiredItem">Required</h5>
                  <input id="storyCompanyInput" name='storyCompany' data-bind="value: storyCompanyData" type="text"/>
                </div>
                <div class="storiesInput">
                  <h4 class="storyHeader">TITLE/POSITION</h4>
                  <h5 id="requiredTitle" class="requiredItem">Required</h5>
                  <input id="storyTitleInput" name='storyPosition' data-bind="value: storyTitleData" type="text"/>
                </div>
                <div class="storiesInput">
                  <h4 class="storyHeader">EMAIL</h4>
                  <h5 id="requiredEmail" class="requiredItem">Required</h5>
                  <input id="storyEmailInput" name='storyEmail' data-bind="value: storyEmailData" type="email"/>
                  <input type="email" name="verify_email" id="verifyEmailForStory" />
                </div>

                <div class="storiesInput">
                  <h4 class="storyHeader">Additional information or notes you would like to include:</h4>
                  <textarea id="storyDetailsInput" data-bind="value: storyDetailsData" type="text"></textarea>
                </div>

                <div class="storiesInput inlineInput"><h4 class="align-center">Please attach your data</h4>
                  <!-- <p class="attachInstructions">*For concessions or plantations, only data in a shapefile format (zipped) will be accepted.</p><p class="attachInstructions">*For processing facilities, data may be uploaded as a CSV or XLS</p> -->
                  <h4 class='has-margin-top'>Submit Concession Boundaries</h4>
                  <input id='concessionInput' type="file" data-bind="event: {change: mediaChange}" multiple />
                </div>
                <div class="storiesInput inlineInput">
                  <h4 class='smaller-bottom'>Concession Boundaries must be submitted in shapfile format and zipped in a folder. Please include the below Attributes: </h4>
                  <table class="concession-boundaries submission-table">
                    <tbody>
                      <th class="submission-green">
                        Field Name
                      </th>
                      <th class="submission-green">
                        Type
                      </th>
                      <th class="submission-green">
                        Dropdown List
                      </th>
                      <th class="submission-green">
                        Description
                      </th>
                      <tr>
                        <td class='arc-field'>Commodity</td>
                        <td>Text</td>
                        <td></td>
                        <td>Commodity type (e.g. palm oil, soy, cocoa)</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>GroupName</td>
                        <td>Text</td>
                        <td></td>
                        <td>Group Name or RSPO Membership Name</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>CompanyName</td>
                        <td>Text</td>
                        <td></td>
                        <td>Company/Subsidary/Management Unit Name</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>PlantationName</td>
                        <td>Text</td>
                        <td></td>
                        <td>Plantation Name</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>SiteName</td>
                        <td>Text</td>
                        <td></td>
                        <td>Site Name</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>FacilityName</td>
                        <td>Text</td>
                        <td></td>
                        <td>Assoiciated processing facility name (e.g. name of mill, silo)</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>Type</td>
                        <td>Text</td>
                        <td></td>
                        <td>Permit type (e.g. HGU/land title/IUP)</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>PermitDate</td>
                        <td>Date</td>
                        <td>Month/Date/Year</td>
                        <td>Permit Date</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>PermitNumber</td>
                        <td>Text</td>
                        <td></td>
                        <td>Permit Number</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>Area_ha</td>
                        <td>Text</td>
                        <td></td>
                        <td>Area in hectares</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>RSPOCertified</td>
                        <td>Text</td>
                        <td>True/False</td>
                        <td>True means this plantation is RSPO certified (if applicable)</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>Certified_date</td>
                        <td>Date</td>
                        <td>Month/Date/Year</td>
                        <td>RSPO certification assessment date (if applicable)</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>Certified_num</td>
                        <td>Text</td>
                        <td></td>
                        <td>RSPO certificate number (if applicable)</td>
                      </tr>
                    </tbody>
                  </table>

                  <h4 class='has-margin-top'>Submit Processing Facility Points</h4>
                  <input id='facilityInput' type="file" data-bind="event: {change: mediaChange}" />
                  <h4 class='smaller-bottom'>Processing facility points, in the form of coordinates,
                    can be submitted in shapfile format in a zipped file, as a CSV, or as an Excel file.
                    Please include the below Attributes:
                  </h4>
                  <table class="concession-boundaries submission-table">
                    <tbody>
                      <th class="submission-green">
                        Field Name
                      </th>
                      <th class="submission-green">
                        Type
                      </th>
                      <th class="submission-green">
                        Dropdown List
                      </th>
                      <th class="submission-green">
                        Description
                      </th>
                      <tr>
                        <td class='arc-field'>Commodity</td>
                        <td>Text</td>
                        <td></td>
                        <td>Commodity type (e.g. palm oil, soy, cocoa)</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>GroupName</td>
                        <td>Text</td>
                        <td></td>
                        <td>Group Name or RSPO Membership Name</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>CompanyName</td>
                        <td>Text</td>
                        <td></td>
                        <td>Company/Subsidary/Management Unit Name</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>SiteName</td>
                        <td>Text</td>
                        <td></td>
                        <td>Site Name</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>FacilityName</td>
                        <td>Text</td>
                        <td></td>
                        <td>Processing facility name (e.g. name of palm oil mill, soy silo)</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>Country</td>
                        <td>Text</td>
                        <td></td>
                        <td>Country processing facility is located in</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>PercentCover</td>
                        <td>Short Integer</td>
                        <td></td>
                        <td>Provide the percent of processing facility operations that the dataset
                          represents. Put 100 if the dataset you have disclosed constitutes
                          100% of your company's facility operations.
                        </td>
                      </tr>
                      <tr>
                        <td class='arc-field'>RSPOCertified</td>
                        <td>Text</td>
                        <td>True/False</td>
                        <td>True means this plantation is RSPO certified (if applicable)</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>Certified_date</td>
                        <td>Date</td>
                        <td>Month/Date/Year</td>
                        <td>RSPO certification assessment date (if applicable)</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>Certified_num</td>
                        <td>Text</td>
                        <td></td>
                        <td>RSPO certificate number (if applicable)</td>
                      </tr>
                    </tbody>
                  </table>
                  <h4 class='has-margin-top'>Submit Smallholder Boundaries</h4>
                  <input id='otherInput' type="file" data-bind="event: {change: mediaChange}" />
                  <h4 class='smaller-bottom'>Smallholder boundaries must be submitted in shapfile
                    format and zipped in a folder. Please include the below Attributes:
                  </h4>
                  <table class="concession-boundaries submission-table">
                    <tbody>
                      <th class="submission-green">
                        Field Name
                      </th>
                      <th class="submission-green">
                        Type
                      </th>
                      <th class="submission-green">
                        Dropdown List
                      </th>
                      <th class="submission-green">
                        Description
                      </th>
                      <tr>
                        <td class='arc-field'>Commodity</td>
                        <td>Text</td>
                        <td></td>
                        <td>Commodity type (e.g. palm oil, soy, cocoa)</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>SmallholderType</td>
                        <td>Text</td>
                        <td></td>
                        <td>Smallholder type (e.g. scheme/associated, independent)</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>Number</td>
                        <td>Long Integer</td>
                        <td></td>
                        <td>Number of smallholder producers</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>Country</td>
                        <td>Text</td>
                        <td></td>
                        <td>Country smallholders are located in</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>Area_ha</td>
                        <td>Float</td>
                        <td></td>
                        <td>Area of smallholder production in hectares</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>FacilityName</td>
                        <td>Text</td>
                        <td></td>
                        <td>Assoiciated processing facility name (e.g. name of palm oil mill, soy silo)</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>PercentCover</td>
                        <td>Short Integer</td>
                        <td></td>
                        <td>Provide the percent of smallholder boundaries that the dataset
                          represents. Put 100 if the dataset you have disclosed constitutes
                          100% of your company's smallholder boundaries.
                        </td>
                      </tr>
                      <tr>
                        <td class='arc-field'>RSPOCertified</td>
                        <td>Text</td>
                        <td>True/False</td>
                        <td>True means smallholder farms are RSPO certified (if applicable)</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>Certified_date</td>
                        <td>Date</td>
                        <td></td>
                        <td>RSPO certification assessment date (if applicable)</td>
                      </tr>
                      <tr>
                        <td class='arc-field'>Certified_num</td>
                        <td>Text</td>
                        <td></td>
                        <td>RSPO certificate number (if applicable)</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </form>
              <div id="submitStory" class="footerModes">
                <input type="submit" value="Submit Data" data-bind="click:dataSubmit" class="action"/>
              </div>
          </div>
          </div>
        </div>
    </div>
</div>
