<!-- Begin Submission Modal -->
<div id="submission-modal" class="submission-modal">
  <div class="close-icon"></div>
  <div class="modal-content">
    <div class="modal-header" data-bind='text: submissionModalHeader'></div>
    <div class="submit-inputs-container">
      <input id='submitModalLatitiude' type="text" data-bind='attr:{placeholder: submissionPlaceholder}' />
    </div>
    <div class="submission-modal-enter-button" data-bind='text: submissionEnterButton'></div>
  </div>
</div>
<!-- End Submission Modal -->
<div id="submissionInnerContainer" class="content-inner-container">
    <div id="submissionHeader" class="content-header">
        <div id="methodHeaderTitle" class="header-block-title">
            <h1>Data Submission Portal</h1>
        </div>
        <div id="submissionHeaderDesc" class="header-block-desc">
            <p>Thank you for submitting data to Global Forest Watch, please follow the instructions below.</p>
        </div>

<!-- <iframe id='submitDataFrame' style='width:100%; height:1000px;' src="https://docs.google.com/forms/d/1UEmnS9msdVmDOqgkwfXt321SQrwbJiVjEcSZEzXKeC8/viewform"></iframe> -->
    </div>

    <div id="methodsContentContainer" class="content-container">
        <div id="navLeft" class="navigation_left" style="font-weight:normal;color:#464052;font-size:12.45px;">
            <!-- <ul id="methodsNavList" class="navigation-list">
                <li id="navListTitle" class="item-title"><i class="caret-down"></i></li>
                <li id="methodsDataAnalysisNav" class="nav-item"><a class="nav-item-a default-selection">DATA ANALYSIS</a></li>

            </ul> -->
            <h2>Instructions</h2>
            <p>Concession areas or plantations:</p>
            <p>Submission must show the boundaries, not coordinates. Please specify in the attribute data or notes what the polygons refer to (e.g. planted areas, permitted areas, or concession areas)</p>

            <p>RSPO ACOP submissions:</p>
            <p>Submissions must show the boundaries for all global operations, certified and uncertified. Please indicate the planted areas and the permitted areas.</p>

            <p>Processing facilities:</p>
            <p>Data should be in the form of coordinates (e.g. lat/long). Please note the type of facility.</p>

            <!-- <p>All submissions require attribute data, as detailed below.</p> -->
            <p>Please attach your data here, and please attach a table of attribute data to the right.</p>


        </div>
        <div id="contentRight" class="content_right">
          <div id="methodsDataAnalysis"  class="nav-subpage default-selection">
            <div class="source_body">
              <!-- <p>Thank you for submitting data to Global Forest Watch, please follow the instructions below.</p> -->
              <form id="storyForm" name="login" action="/login" method="post">
                <div class="storiesInput">
                  <h4 class="storyHeader">NAME</h4>
                  <h5 id="optionalName" class="requiredItem">Required</h5>
                  <input id="storyNameInput" data-bind="value: storyNameData" type="text"/>
                </div>
                <div class="storiesInput">
                  <h4 class="storyHeader">COMPANY</h4>
                  <h5 id="optionalName" class="requiredItem">Required</h5>
                  <input id="storyCompanyInput" data-bind="value: storyCompanyData" type="text"/>
                </div>
                <div class="storiesInput">
                  <h4 class="storyHeader">TITLE/POSITION</h4>
                  <h5 id="requiredTitle" class="requiredItem">Required</h5>
                  <input id="storyTitleInput" data-bind="value: storyTitleData" type="text"/>
                </div>
                <div class="storiesInput">
                  <h4 class="storyHeader">EMAIL</h4>
                  <h5 id="requiredEmail" class="requiredItem">Required</h5>
                  <input id="storyEmailInput" data-bind="value: storyEmailData" type="email"/>
                  <input type="email" name="verify_email" id="verifyEmailForStory" />
                </div>

                <div class="storiesInput">
                  <h4 class="storyHeader">Additional information or notes you would like to include:</h4>
                  <textarea id="storyDetailsInput" data-bind="value: storyDetailsData" type="text"></textarea>
                </div>

                <div class="storiesInput inlineInput"><h4>Please attach your data</h4>
                  <p class="attachInstructions">*For concessions or plantations, only data in a shapefile format (zipped) will be accepted.</p><p class="attachInstructions">*For processing facilities, data may be uploaded as a CSV or XLS</p>
                  <input id='dataInput' type="file" data-bind="event: {change: mediaChange}"  />
                </div>
                <div class="storiesInput inlineInput"><h4>Please attach a table of the attribute data</h4>
                  <p class="attachInstructions">*Only data in a xls or csv format will be accepted</p>
                  <p class="attachInstructions">The following attribute data MUST be included for concession and plantation data:</p>

                  <p class="attachInstructions smaller">Group name</p>
                  <p class="attachInstructions smaller">Company name</p>
                  <p class="attachInstructions smaller">Site name</p>
                  <p class="attachInstructions smaller">Mill name</p>
                  <p class="attachInstructions smaller">Permit type (e.g. HGU/land title/IUP)</p>
                  <p class="attachInstructions smaller">Permit date</p>
                  <p class="attachInstructions smaller">Permit number</p>
                  <p class="attachInstructions smaller">Area (hectares)</p>
                  <p class="attachInstructions smaller">RSPO certification assessment date (if applicable)</p>
                  <p class="attachInstructions smaller">RSPO certificate number (if applicable)</p>
                  <input id='attributeDataInput' type="file" data-bind="event: {change: mediaChange}" style='margin-top: 20px;' />
                </div>



              </form>
              <div id="submitStory" class="footerModes">
                <input type="submit" value="Submit Data" data-bind="click:dataSubmit" class="action"/>
              </div>
          </div>
          </div>
        </div>
    </div>
</div>
