// Definitions
$alerts_width = 460px
$alerts_body_padding = 50px

// Core Styles
.alerts-form-container
	z-index 5
	position absolute
	top 0
	right initial
	bottom 0
	left 0
	overflow hidden
	background-color #fff

.alerts-form
	&
		height 100%
		width $alerts_width
		position absolute
		top 0
		right 0
		bottom 0
		left initial

	&__header
		position absolute
		top 0
		right 0
		bottom initial
		left 0
		height $alerts_body_padding
		border-bottom 1px solid grey
		font-size 26px

	&__body
		box-sizing border-box
		padding $alerts_body_padding 0px
		height 100%
		width 100%
		font-size 12px

	&__footer
		position absolute
		top initial
		right 0
		bottom 0
		left 0
		height $alerts_body_padding
		border-top 1px solid grey

	&__form
		padding 0px 20px 10px 20px
