// Useful Functions
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments

red = #EA1F4B
orange = #E98300
baseGray = #e6e6e6
lightGrayFont = #747474
mediumGray = #888
lightMediumGray = #D6D6D7
lightGray = #ececed
goldFont = #f0ab00
greyBorder = #b2b2b2
hoverBackground = #CDCDCD
orangeSelected = rgb(233, 131, 0)
orangeHover = rgba(233, 131, 0, 0.45)
wizardBlue = #00688B

fontSizes = 12 16

html, body, .gfw {
  background-color #eee
  height 100%
  width 100%
  margin 0
  font-family 'Fira Sans', Georgia, serif
  font-weight 400
}

//body
//.app-header
//.homeView
//.app-footer
//	max-width 1600px
//	margin auto !important

// Generic Font Classes
.gfw .light-gray-font
	color lightGrayFont

.gfw #app-body:not(.mapView) #stackContainer
	min-height 300px
	//max-height 700px

.gfw #app-body.mapView #stackContainer
	position absolute
	top 90px
	bottom 0
	right 0
	left 0

// .gfw #app-body.mapView,
// .gfw #app-body.mapView .dijitStackContainerChildWrapper.dijitVisible
// 	height 100% !important

.gfw .app-footer
	//height 470px
	width 100%

.gfw .dijitLayoutContainer
	overflow hidden

.gfw .custom-check
	transition all 0.1s ease-in-out
	background-color lightMediumGray
	display inline-block
	border-radius(5px)
	position relative
	height 10px
	width 17px

.gfw .custom-check span
	transition all 0.1s ease-in-out
	background-color #fff
	border-radius(4px)
	position absolute
	height 6px
	width 6px
	left 2px
	top 2px

.gfw .dijitDialogTitleBar
	background none !important
	padding 10px 6px 3px 7px !important
	color #aaa

.gfw .source_description
	display block
	font-size 13px
	color #999
	line-height 1.2
	margin-top 5px

.metadataTitle
	display block
	color #555555 !important
	font-weight 500
	font-size 16px
	text-transform uppercase

.gfw .dijitDialogPaneContent
	border-top none !important

.gfw .dijitDialogCloseIcon
	right 15px !important
	top 15px !important

.gfw a:link
	color #97bd3d

#loader-wheel-submit
	background url('images/loader.gif') no-repeat left
	background-color baseGray
	background-color rgba(230,230,230,1)
	display inline-block
	border-radius(5px)
	height 22px
	position fixed
	width 22px
	padding 0px
	top 50%
	left 50%
	z-index 200
	background-size 22px
	border 1px solid black
	display none

#loader-background
	position fixed
	top 0px
	bottom 0px
	width 100%
	background-color rgba(255, 255, 255, 0.50)
	z-index 150
	display none

.gfw .step .step-one-main-description {
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
  color: gray;
  line-height: 20px;
}

.gfw .step .step-one-main-description a {
  color: orange;
}



@require 'base'
@require 'contentPages'
@require 'modal'
@require 'footer'
@require 'header'
@require 'home'
@require 'map'
@require 'wizard'
@require 'alertsForm'
@require 'rangeSlider'
@require 'utilities'
