// Useful Functions
/*border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments

backgroundGray = #464352

.gfw .app-footer
	background-color backgroundGray*/

/*--------- footer -------------------------------*/
#footer {
  background-color: rgb(70, 67, 82);
  position: relative;
  height: auto;
  min-height: 200px;
  width: 100%;
  bottom: 0;
  max-height: 300px;
  z-index: 100;
  float: left;
  font-family: 'Fira Sans', 'fira_sans_otregular', Georgia, serif;
}

#right-footer {
  margin: 0 0 0 0;
}

#left-footer {
  width: 350px;
}

#footer-address p:first-child {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

#middle-footer {
  width: 200px;
  margin: 0 10px;
}

.site-info {
  font-size: 13px;
  color: rgb(177, 175, 182);
}

.inner {
  margin: 0 auto;
  width: 960px;
  padding: 0px;
}

.left {
  float: left;
}

.partner-icons {
  float: left;
  margin: 15px 30px;
  width: 100px;
  height: 88px;
}

#partnerText span:first-child {
  font-weight: bold;
  line-height: 18.2000007629395px;
  -webkit-font-smoothing: antialiased;
}

#footer .right {
  float: right;
  width: 49%;
  height: 300px;
}

#footer .left {
  padding-right: 15px;
  padding-top: 10px;
}

#gfwIcon {
  background: url('images/monochromatic_gfw.jpg') no-repeat;
}

#usaidIcon {
  background: url('images/monochromatic_usaid.jpg') no-repeat;
}

#ukccuIcon {
  background: url('images/monochromatic_ukaid.jpg') no-repeat;
}

#rspoIcon {
  background: url('images/monochromatic_rspo.jpg') no-repeat;
}

#bappenasIcon {
  background: url('images/monochromatic_bappenas.jpg') no-repeat;
}

#bluerasterIcon {
  background: url('images/monochromatic_blueraster.jpg') no-repeat;
}

.footer-logo.wri {
  background: url(images/wri.png) no-repeat;
  background-position: 0 0;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/fira-sans.light-webfont.eot');
  src: url('fonts/fira-sans.light-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/fira-sans.light-webfont.woff2') format('woff2'),
          url('fonts/fira-sans.light-webfont.woff') format('woff'),
          url('fonts/fira-sans.light-webfont.ttf') format('truetype'),
          url('fonts/fira-sans.light-webfont.svg#fira_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans Ultra Light';
  src: url('fonts/firasans-ultralight-webfont.eot');
  src: url('fonts/firasans-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/firasans-ultralight-webfont.woff2') format('woff2'),
          url('fonts/firasans-ultralight-webfont.woff') format('woff'),
          url('fonts/firasans-ultralight-webfont.ttf') format('truetype'),
          url('fonts/firasans-ultralight-webfont.svg#webfontregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'fira_sans_otregular';
  src: url(fonts/firasansot-regular-webfont.eot);
  src: url(fonts/firasansot-regular-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/firasansot-regular-webfont.woff) format("woff"), url(fonts/firasansot-regular-webfont.ttf) format("truetype"), url(fonts/firasansot-regular-webfont.svg#fira_sans_otregular) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sans_otmedium';
  src: url(fonts/firasansot-medium-webfont.eot);
  src: url(fonts/firasansot-medium-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/firasansot-medium-webfont.woff) format("woff"), url(fonts/firasansot-medium-webfont.ttf) format("truetype"), url(fonts/firasansot-medium-webfont.svg#fira_sans_otmedium) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sans_otlight';
  src: url(fonts/firasansot-light-webfont.eot);
  src: url(fonts/firasansot-light-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/firasansot-light-webfont.woff) format("woff"), url(fonts/firasansot-light-webfont.ttf) format("truetype"), url(fonts/firasansot-light-webfont.svg#fira_sans_otmedium) format("svg");
  font-weight: normal;
  font-style: normal;
}

#footer-share div p {
  float: left;
  color: rgb(255, 255, 255);
  font-size: 17px;
  /*  line-height: 38px;*/
  font-family: fira_sans_otmedium;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}

#service > p > a {
  color: white;
}

#address > address > a {
  color: white;
}

#footer-share div p a {
  -webkit-font-smoothing: antialiased;
}

.share_buttons {
  clear: both;
  float: left;
  height: 27px;
  width: 305px;
  padding: 12px 20px 6px;
  background: rgb(255, 255, 255);
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  border-radius: 23px;
}

#fb_login_button {
  width: 80px;
}

#fb_login_button span,
#fb_login_button iframe {
  width: 80px !important;
  height: 25px !important;
}

.fb-share-button {
  /* 20141231 CRB - 20141231 CRB - Commented out Google Plus share button because it is throwing errors */
  /* TODO: Set the "left" value for the Facebook share button to 200px when bringing back Google Plus share button. */
  left: 170px;
  bottom: 22px;
  position: relative;
}

/* 20141231 CRB - 20141231 CRB - Commented out Google Plus share button because it is throwing errors */
/* TODO: Remove the "left" and "position" values for the Twitter share button when bringing back Google Plus share button. */
.twitter-share-button {
  left: 45px;
  position: relative;
}

.footer-share.keep-updated {
  clear: both;
  margin-bottom: 0;
  height: 35px;
}

.footer-share p {
  /*float: left;*/
  line-height: 45px;
}

.site-info a {
  color: #eee;
  text-decoration: underline;
  padding: 0px;
}

.footer-share p .subscribe {
  clear: both;
  vertical-align: sub;
}

.footer-address {
  -webkit-font-smoothing: antialiased;
  clear: both;
  margin: 60px 0 40px;
  font-style: normal;
  font-weight: 200;
  height: 72px;
}

.footer-address p, .footer-address address, .footer-address .footer-logo {
  clear: both;
  margin-bottom: 20px;
  font-style: normal;
}

.footer-logo.wri {
  display: block;
  margin: 5px 0;
  height: 31px;
  width: 269px;
  background-position: 0 0;
}

.footer-address address {
  line-height: 1.1;
}

#address {
  clear: both;
  font-style: normal !important;
}

address {
  font-style: normal;
  font-weight: 100;
  line-height: 18.2000007629395px;
}

#footer-address div {
  clear: both;
}

#footer p {
  margin: 4px 0;
}

.site-info a {
  color: rgb(238, 238, 238);
  text-decoration: underline;
  font-family: 'Fira Sans', 'fira_sans_otregular', Georgia, serif;
  line-height: 13px;
  font-size: 13px;
}

#footer-address p {
  color: rgb(177, 175, 182);
  !important;
  text-decoration: none !important;
  font-family: 'Fira Sans', 'fira_sans_otregular', Georgia, serif;
  line-height: 13px !important;
  font-size: 13px !important;
}

#footer-share .partnership p {
  color: rgb(177, 175, 182);
}

.wri-logo-container {
  padding: 10px 0;

}

#partnerText {
  padding: 0px 0px;
  float: left;
  clear: both;
  width: 100%;
}

#signup a {
  margin: 0 0 0 10px;
}

.footerModes {
  text-align: center;
  width: 100%;
  height: 100%
}

.footerModes a {
  color: white !important;
}

.footerWrapper .footerItem {
  width: 33.33%;
  float: left;
  height: 100%
}

.footerWrapper .footerItem .desc {
  height: 35px
}

.footerWrapper .analysisAlerts, .footerWrapper .receiveAlerts, .footerWrapper .submitStory {
  width: 100%;
  height: 100%
}

nav.mobile-hide {
  position: absolute;
  top: -90px;
  /* left: 50%; */
  width: 660px;
  left: calc(50% - 330px);
  z-index 949
}
nav.mobile-hide h2 {
  padding .5em
  margin 0
  font-family: 'Fira Sans Ultra Light', 'fira_sans_otregular', Georgia, serif;
  font-weight 300
  font-size 18px
  text-transform uppercase
  color: #555555;
  background: #fff
  border-radius: 50px;
}
nav.mobile-hide .box-button {
  display: inline-block;
}
.btn {
  background: #e5e5df;
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 0px 12px;
  border-radius: 40px;
  font-size: 14px;
  text-decoration: none;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  -webkit-transition: background 0.15s linear;
  -moz-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear
}
.btn.orange {
  color: white;
  background: orangeSelected;
}
.btn.huge {
  font-size: 18px;
  text-transform: uppercase;
  height: 38px;
  line-height: 40px;
  padding: 0px 20px;
}
.get-started__button {
  cursor pointer
  font-family: 'Fira Sans', 'fira_sans_otregular', Georgia, serif;
}
.tooltip-getstarted {
  display: none;
  list-style-type: none;
  position: absolute;
  width: 380px;
  background: #fff;
  bottom: 41px;
  left: 275px;
  padding 0
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}
.tooltip-getstarted.display {
  display block
}
.tooltip-getstarted:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
  z-index: 2;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
  -moz-transform: translate(-50%, 50%) rotate(45deg);
  -ms-transform: translate(-50%, 50%) rotate(45deg);
  -o-transform: translate(-50%, 50%) rotate(45deg);
  transform: translate(-50%, 50%) rotate(45deg);
  border-bottom: 1px solid #e5e5df;
  border-right: 1px solid #e5e5df;
}
.tooltip-getstarted li {
  border-top: 1px solid #EAECEF;
  text-align: left;
  line-height .8em
  position relative
}
.tooltip-getstarted li:hover {
  background: #fafafa;
}
.tooltip-getstarted li a {
  color: #444 !important;
  text-decoration: none;
  font-weight: 400;
  font-size 12px;
  font-family: 'Fira Sans', 'fira_sans_otregular', Georgia, serif;
  display: block;
  padding: 15px 15px 15px 60px;
}
.tooltip-getstarted li a strong {
  color orangeSelected
}
.tooltip-getstarted i.img {
  background-color red
  width: 35px;
  height: 35px;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  left: 15px;
  border-radius: 50%;
}
.tooltip-getstarted .img.map,
.tooltip-getstarted .img.alerts,
.tooltip-getstarted .img.analyze-forest-cover,
.tooltip-getstarted .img.monitor-activity,
.tooltip-getstarted .img.sign-up-tree-clearance-fire-alerts,
.tooltip-getstarted .img.learn-about-download,
.tooltip-getstarted .img.sign-up-gfw-commodities-newsletters,
.tooltip-getstarted .img.watch-tutorial-videos,
.tooltip-getstarted .img.country,
.tooltip-getstarted .img.report-story,
.tooltip-getstarted .img.countries-data,
.tooltip-getstarted .img.concessions,
.tooltip-getstarted .img.active-fires,
.tooltip-getstarted .img.tutorial-videos {
  background: url(../../app/css/images/getting-started.png) no-repeat
}
.tooltip-getstarted .img.map {
  background-position: 0 -105px
}
.tooltip-getstarted .img.watch-tutorial-videos {
  background-position: 0 -180px
}
.tooltip-getstarted .img.sign-up-gfw-commodities-newsletters {
  background-position: 0 -289px
}
.tooltip-getstarted .img.learn-about-download {
  background-position: 0 -327px
}
.tooltip-getstarted .img.sign-up-tree-clearance-fire-alerts {
  background-position: 0 -363px
}
.tooltip-getstarted .img.analyze-forest-cover{
  background-position: 0 -398px
}
.tooltip-getstarted .img.monitor-activity {
  background-position: 0 -431px
}
.tooltip-getstarted .img.alerts {
  background-position: 0 0
}
.tooltip-getstarted .img.country {
  background-position: 0 -250px;
}
.tooltip-getstarted .img.report-story {
  background-position: 0 -35px
}
.tooltip-getstarted .img.countries-data {
  background-position: 0 -215px
}
.tooltip-getstarted .img.concessions {
  background-position: 0 -140px
}
.tooltip-getstarted .img.active-fires {
  background-position: 0 -70px
}
.arrow-down-container {
  width: 100%;
  position: absolute;
  top: -1.4em;
  z-index 250;
}

.footerWrapper .arrow-down-icon {
  border-radius: 50%;
  width: 2.8em;
  height: 2.8em;
  margin auto;
  box-shadow: 0 0 0 5px white;
  background-image: url(../../app/css/images/arrow-down.svg);
  background-color: #ccc
  background-repeat: no-repeat;
  background-size: 1.5em;
  background-position: center;
  cursor pointer
  transition: all 0.25s
}

.footerWrapper .arrow-down-icon:hover {
  background-color orangeSelected
}

.footerWrapper .icon {
  background-repeat: no-repeat;
  background-size: 92px;
  height: 92px;
  width: 92px;
  margin: 35px 0 10px 0;
  display: inline-block;
  cursor pointer
}

.footerWrapper .analysisAlerts .icon {
  background-image: url(../../app/css/images/sign-up-for-alerts.svg);
}

.footerWrapper .submitStory .icon {
  background-image: url(../../app/css/images/view-monthly-reports.svg);
}

.footerWrapper .receiveAlerts .icon {
  background-image: url(../../app/css/images/join-the-community.svg);
}

.footerModes .title {
  font-size: 24px;
  font-family: 'Fira Sans', 'fira_sans_otregular', Georgia, serif;
  margin: 0 0 20px
  text-transform: uppercase;
  color: #555;
}

.footerModes .desc {
  font-size: 15px;
  line-height: 1.2;
  color: #666;
  margin: 0 0 20px
}

.footerModes .action {
  text-transform: uppercase;
  background: none repeat scroll 0 0 #9bb251;
  padding: 14px 34px;
  border-radius: 2px;
  border: 1px solid #839c26;
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  text-decoration: none
}

.footerModesContainer {
  display: none;
  width: 100%;
  height: 200px;
  background-color: #fff;
  margin-top: -5px;
  position: relative;
}

.footerShareContainer {
  width: 100%;
  height: 350px
}

.footerWrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  color: #fff;
  height: 100%
}

.footerMovableWrapper {
  width: 100%;
  height: 350px;
  background-color: #464352;
  color: #fff;
  clear: both;
  bottom: 0
}

.alert-dialog-box .submit-button {
  text-align: center;
  margin: 10px 0
}

.alert-dialog-box .submit-button button {
  border-radius: 5px;
  font-size: 12px
}

.footerMovableModes {
  height: 350px;
  max-width: 960px;
  width: 100%;
  margin: auto;
  background-color: #464352
}

.footerMovableModes a {
  color: #fff;
  font-size: 12px
}

.footerMovableModes .container-large {
  width: 365px;
  height: 100%;
  padding: 0;
  float: left
}

.footerMovableModes .container-large > div {
  padding: 10px
}

.footerMovableModes .container-small {
  width: 200px;
  height: 100%;
  padding: 0;
  float: left
}

.footerMovableModes .container-small > div {
  padding: 10px
}

.footerMovableModes .about-project {
  color: #b1afb6;
  font-size: 12px
}

.footerMovableModes .title {
  font-weight: 700
}

.footerMovableModes .wri-address {
  color: #b1afb6;
  font-size: 12px
}

.footerMovableModes .wri-address .title {
  font-weight: 700
}

.footerMovableModes .wri-address .wri-logo {
  font-weight: 700;
  background: url(../images/wri.png) no-repeat scroll 0 0 transparent;
  height: 31px;
  width: 269px;
  display: block;
  margin: 10px 0
}

.footerMovableModes .share {
  color: #fff
}

.footerMovableModes .share .title {
  //font-family: Fira Sans;
  font-weight: 200
}

.footerMovableModes .share-container {
  padding: 10px 20px;
  border-radius: 160px;
  background-color: #fff;
  margin: 10px 0
}

.footerMovableModes .sign-up {
  margin: 10px 0
}

.footerMovableModes .subscribe {
  margin: 0 5px
}

.footerMovableModes .gfw-logo {
  background: url(../images/monochromatic_gfw.jpg) no-repeat scroll 0 0 transparent;
  text-align: center;
  height: 71px;
  display: block;
  width: 122px;
  margin: 10px
}

.footerMovableModes .footer-logo {
  background: url(../images/logos-from-gfw.png) no-repeat scroll 0 0 transparent;
  display: inline-block;
  vertical-align: middle;
  margin: 0 38px 38px 0;
  width: 88px
}

.footerMovableModes .footer-logo.digital-globe {
  background: url(../images/dg-globe.png) no-repeat scroll 0 0 transparent;
  height: 28px
}

.footerMovableModes .footer-logo.esri {
  background-position: 0 -654px;
  height: 28px
}

.footerMovableModes .footer-logo.google {
  background-position: 0 -734px;
  height: 52px
}

.footerMovableModes .footer-logo.bpredd {
  background: url(../images/bpredd.png) no-repeat scroll 0 0 transparent;
  height: 57px
}

@media screen and (min-width: 1200px) {
  .arrow-down-container{
    width 1200px;
  }
}
