// Useful Functions
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments

lightGray = #ececed
mediumGray = #888
goldFont = #f0ab00
greyBorder = #b2b2b2
hoverBackground = #CDCDCD
orangeSelected = rgb(233, 131, 0)
orangeHover = rgba(233, 131, 0, 0.45)
wizardBlue = #00688B

.gfw .map-container
	position absolute
	bottom 0
	right 0
	left 0
	top 0

.gfw .map
	position absolute
	left 0

.gfw #map
	height 100% !important

.gfw .map-container .esriSimpleSlider
	background none
	color goldFont
	border none
	position fixed
	top 195px
	right 46px !important

.gfw .map-container .esriSimpleSlider div
	background-color #FFF

.gfw .map-container .esriSimpleSliderIncrementButton, .gfw .map-container .esriSimpleSliderDecrementButton
	padding 1px
	border none

.gfw .map-container .esriSimpleSliderIncrementButton
	margin-bottom 2px

.gfw .map-container .esriControlsBR
	right inherit
	left 5px

.gfw .map-container .esriScalebar
	left 75px !important
	bottom 5px

.gfw .map-container .esriAttribution
	display none

.gfw .map-container .HomeButton .home
	background-image url('images/ico-home.png')
	border-radius(0px)
	padding 1px

.gfw .map-container .HomeButton
	margin-bottom 4px

.gfw .locator-widget-button, .gfw .basemap-gallery-button, .gfw .share-button
	border-radius(5px)
	position absolute
	cursor pointer
	padding 1px
	height 30px
	width 30px
	right 46px
	z-index 50

.gfw .alert-button
	// display none
	cursor pointer
	border-radius(5px)
	position absolute
	background-color orangeSelected
	color #FFFFFF
	top 20px
	right 300px
	z-index 50
	text-align center
	width auto
	padding-top 2px
	line-height 30px

.gfw .locator-widget-button
	background url('images/locate.png') no-repeat #FFF -1px -35px
	top 166px

.gfw .basemap-gallery-button
	background url('images/basemap.png') no-repeat #FFF -1px -35px
	top 204px

.gfw .share-button
	background url('images/share-icon.png') no-repeat #FFF -2px -35px
	top 242px

.gfw .locator-widget-button:hover,
.gfw .basemap-gallery-button:hover,
.gfw .share-button:hover,
.gfw .map-container .HomeButton .home:hover,
.gfw .map-container .esriSimpleSliderIncrementButton:hover,
.gfw .map-container .esriSimpleSliderDecrementButton:hover
	background-color hoverBackground

.gfw .map-container .simpleGeocoder
	position absolute
	z-index 50
	right 50px
	top 20px

.gfw .map-container .simpleGeocoder .esriGeocoder
	border 2px solid mediumGray

.gfw .map-container .modal-link
	position absolute
	background #FFF
	height 32px
	width 23px
	right 48px
	z-index 48

.gfw .map-container .basemap-linker
	top 162px

.gfw .map-container .locator-linker
	top 125px

.gfw .map-container .sharing-linker
	top 199px

.gfw .map-container .sharing-modal
	border-radius(5px)
	position absolute
	background #FFF
	overflow-y auto
	padding 10px
	height 50px
	width 200px
	right 60px
	z-index 50
	top 180px

.gfw .map-container .sharing_toolbox
	margin 9px 0 0 10px

.gfw .map-container .maptools-modal
	border-radius(5px)
	position absolute
	background #FFF
	overflow-y auto
	padding 10px
	height 350px
	width 300px
	right 60px
	z-index 50
	top 60px

.gfw .maptools-modal .container-header
	font-family "Arial MT Condensed Bold", Arial, Georgia, sans-serif
	border-bottom 1px solid greyBorder
	padding-bottom 5px
	font-size 20px

.gfw .maptools-modal .overlays-container
	margin 15px

.gfw .overlays-container .overlays-checkbox
	color mediumGray
	cursor pointer

.gfw .overlays-container .overlays-checkbox.selected
	color orangeSelected

.gfw .overlays-checkbox.selected .custom-check
	background-color orangeSelected

.gfw .overlays-checkbox.selected .custom-check span
	left 9px

.gfw .overlays-container .custom-check-label
	margin-left 5px

.gfw .maptools-modal .esriBasemapGallery
	padding 15px 25px 5px

.gfw .maptools-modal .line-splitter
	border-bottom 1px solid greyBorder

.gfw .maptools-modal .goto-area-search
	display inline-block
	margin 10px 0

.gfw .maptools-modal .LocateButton
	margin 5px

.gfw .maptools-modal .LocateButton .zoomLocateButton:hover, .gfw .search-option-go-button:hover
	background orangeSelected

.gfw .maptools-modal .LocateButton .zoomLocateButton
	background mediumGray
	height 25px
	width 100px

.gfw .maptools-modal .dms-inputs, .gfw .maptools-modal .lat-long-inputs
	height 20px

.gfw .maptools-modal .dms-inputs
	width 60px

.gfw .maptools-modal .area-search-radio-container
	margin 2px 5px

.gfw .maptools-modal .area-search-inputs
	margin 5px

.gfw .maptools-modal .clear-search-pins
	text-decoration underline
	margin 10px 20px
	cursor pointer
	float right
	color #00f

.gfw .maptools-modal .LocateButton span
	font-family "Arial MT Condensed Bold", Arial, Georgia, sans-serif
	display block !important
	text-align center
	line-height 28px
	color #FFF

.gfw .search-option-go-button
	font-family "Arial MT Condensed Bold", Arial, Georgia, sans-serif
	background mediumGray
	border-radius(5px)
	text-align center
	line-height 25px
	margin 10px auto
	padding 3px 0 0
	cursor pointer
	width 100px
	color #FFF

.gfw .layer-controls-container .suitability_toolbox
	box-shadow 0px 0px 6px 1px rgba(0,0,0,0.25)
	// SPecify the white so IE still renders some color but others use rgba
	background-color white
	// background-color rgba(255,255,255,0.75)
	border 1px solid greyBorder
	position absolute
	font-size 12px
	width 300px
	bottom 125px
	z-index 50
	left 20px
	top 60px

.gfw .layer-controls-container > .toolbox
	box-shadow 0px 0px 6px 1px rgba(0,0,0,0.25)
	background-color white
	border 1px solid #CCC
	position absolute
	bottom 35px
	z-index 50
	left 50%

.gfw .layer-controls-container .toolbox_legend
	position absolute
	font-size 12px
	top -20px
	left 0

.gfw .layer-controls-container .toolbox_legend_suitability
	border-bottom 1px solid greyBorder
	line-height 30px
	font-weight bold

.gfw .suitability_toolbox_label
	margin-left 10px

.gfw .layer-controls-container .toolbox_legend_suitability div
	display inline-block

.gfw .toolbox_legend_suitability .reset-suitability
	background url('images/reset_symbol.png') no-repeat 5px center
	border-left 1px solid greyBorder
	background-size 14px 14px
	padding-left 25px
	margin-right 10px
	cursor pointer
	color #898989
	float right

.gfw .toolbox_legend_suitability .export-suitability
	background url('images/export_icon.png') no-repeat 5px center
	border-left 1px solid greyBorder
	background-size 14px 14px
	padding-left 25px
	margin-right 10px
	cursor pointer
	color #898989
	float right

.gfw .toolbox_legend_suitability .close-suitability
	background url('images/close_symbol.png') no-repeat 5px center
	border-left 1px solid greyBorder
	background-size 14px 14px
	cursor pointer
	float right
	height 30px
	width 25px


.gfw .submit-container
    text-align center
	margin 10px 0

.gfw .submit-container button
	border 1px solid baseGray
	background baseGray
    border-radius(3px)
    padding 5px 3px
	font-size 14px
	cursor pointer
	outline 0

.gfw .submit-container button:hover, .gfw .submit-container button:active
	border 1px solid orangeButton
	background orangeButton


.gfw .layer-controls-container .toolbox_legend > p,
.gfw .layer-controls-container .toolbox_legend_suitability > p
	text-shadow 0 0 3px #fff
	margin 0

.gfw .layer-controls-container .fires_toolbox
	margin-left -225px
	height 60px
	width 450px

.gfw .layer-controls-container .forma_toolbox
	margin-left -500px
	height 60px
	width 800px
	padding-right 25px
	padding-left 65px

.gfw .layer-controls-container .forma_toolbox:after
	position absolute
	background #CCC
	display block
	height 40px
	content ""
	width 1px
	top 10px
	left 7%

.gfw .layer-controls-container .treecover_change_toolbox
	margin-left -500px
	height 60px
	width 900px

.gfw .toolbox .toolbox-inner
	text-align center
	padding-left 10px

.gfw .toolbox .toolbox-list
	list-style-type none
	display inline-block
	margin 8px 0 0
	padding 0

.gfw .toolbox .toolbox-list li
	text-transform uppercase
	border 1px solid #000
	display inline-block
	padding 3px 5px 3px
	border-radius(5px)
	cursor pointer
	font-size 10px
	margin 0 3px

.gfw .toolbox .selected
	background-color orangeSelected
	font-weight bold
	color white

.gfw .fires_toolbox .high-confidence-fires
	margin 6px 40px 0
	font-size 13px
	float left

.gfw .fires_toolbox .high-confidence-fires label
	padding-left 5px

.gfw .fires_toolbox #high-confidence-info
	cursor pointer
	color #e98300

.gfw .toolbox .slider-container
	width 800px
	height 60px

.gfw .toolbox .esriTimeSlider
	margin-top 5px

.gfw .slider-container .dijitRuleLabel
	-webkit-transform rotate(-55deg)
	-ms-transform rotate(-55deg)
	transform rotate(-55deg)
	margin-top 6px
	width 30px

.gfw .slider-container table:first-of-type td:first-of-type
	width 40px

.gfw .suitability_toolbox .suitability-accordion
	box-sizing border-box
	position absolute
	overflow-y auto
	top 30px
	bottom 0
	right 0
	left 0

.gfw .suitability_toolbox .loading-wheel-container
	background-color greyBorder
	position absolute
	opacity 0.75
	z-index 50
	bottom 0
	right 0
	left 0
	top 0

.gfw .suitability_toolbox .loading-wheel-container.hidden
	display none

.gfw .suitability_toolbox .loading-wheel
	background url('images/loader.gif') no-repeat center
	background-size 24px
	position absolute
	margin-left -12px
	margin-top -12px
	height 24px
	width 24px
	left 50%
	top 50%

.gfw .suitability_toolbox .sub-heading
	font-weight bold
	margin 10px

.gfw .suitability_toolbox .slider-container
	margin 10px auto 0
	position relative
	width 250px
	height 25px

.gfw .suitability_toolbox .slider-name
	display inline-block
	margin-left 20px

.gfw .suitability_toolbox .criteria-separator
	margin 5px 0 5px 20px
	display inline-block

.gfw .suitability_toolbox .suitable-checkbox
	margin 3px 0 3px 20px
.gfw .suitability_toolbox .suitable-checkbox-soil
	margin 3px 0 3px 20px

.gfw .suitability_toolbox .slider-name:first-of-type
	margin-top 5px

.gfw .suitability_toolbox .suitable-checkbox:last-of-type
	margin-bottom 15px
.gfw .suitability_toolbox .suitable-checkbox-soil:last-of-type
	margin-bottom 15px

.gfw .suitability_toolbox .slider-labels
	display inline-block
	color mediumGray
	margin-top 12px
	font-size 10px

.gfw .suitability_toolbox .slider-labels.hundred
	float right

.gfw .legend-container
	font-family Arial, sans-serif
	border 1px solid mediumGray
	border-radius(5px 5px 0 0)
	background-color #fff
	box-sizing border-box
	border-bottom none
	position absolute
	overflow hidden
	cursor pointer
	font-size 13px
	height 280px
	width 250px
	z-index 50
	right 20px
	bottom 0

.gfw .legend-title
	background-image url('images/ico-carat-down.png')
	background-position 95% 10px
	background-repeat no-repeat
	background-color lightGray
	box-sizing border-box
	line-height 30px
	color goldFont
	cursor pointer
	font-size 14px
	height 30px

.gfw .legend-title.closed
	background-image url('images/ico-carat-up.png')

.gfw .legend-title span
	margin-left 5px

.gfw .legend-content
	overflow-y auto
	overflow-x hidden
	height 250px
	width 100%

.gfw #legend
	padding 0 0 0 10px
	height auto
	width 230px

.gfw .simple-legend
	padding 10px 10px 0px

.gfw .simple-legend-title
	padding 0px 0px 5px 3px

.gfw .simple-legend-image
.gfw .simple-legend-label
	vertical-align middle

.gfw .simple-legend-label
	padding-left 15px

.gfw .simple-legend-layer
	padding 2px 0px 2px 1px

.gfw .maptools-modal .esriBasemapGallery
	padding 15px 15px 5px !important

.esriBasemapGalleryNode
	margin 5px 15px 0 10px !important

.suitability-accordion .suitability-accordion-description
	margin 10px 20px 2px

.sliderStart
	z-index: 1;
	display: block;
	position: absolute;
	border-right: 2px solid black;
	top: 0;
	height: 50%;

.gfw #legend #legend_msg, .gfw #legend .esriLegendServiceLabel
	display none

.gfw #legend .esriLegendService
	padding-bottom 0px

.gfw #legend > div:nth-last-child(2)
	padding-bottom 10px
/* Overrides for Esri Legend */
/* Overrides for Esri Basemap Gallery */
.gfw .esriBasemapGalleryLabelContainer
	font-size 13px
	height 3em
/* Overrides for Esri Basemap Gallery */
/* Overrides for Info Window */
.gfw .esriPopupWrapper .sizer
	width 330px

.gfw .esriPopupWrapper .title
	text-overflow ellipsis
	white-space nowrap
	overflow hidden
	max-width 245px

.gfw .esriPopupWrapper .zoomTo
	display none
/* Overrides for Info Window */
/* Overrides for Checkboxes */
.suitability-accordion .dijitCheckBox
	border 1px solid #FDD023 !important
	background #FDD023 !important
	border-radius(3px)

.suitability-accordion .dijitCheckBoxChecked
	background #461D7C url('images/ico-checkmark.png') no-repeat center !important
	border 1px solid #461D7C !important
/* Overrides for Checkboxes */
/* Overrides for Accordion Containers that contain sliders and checkboxes */
/*#crop-criteria,*/
#environmental-criteria
	overflow-x hidden
/* Overrides for Accordion Containers that contain sliders and checkboxes */
#irs-1 {
	position: absolute;
	width: 730px;
	right: 57px;
	margin-top: -18px;
}

#yearDotContainer {
	margin-top: -24px;
	font-size: 12px;
}

#yearDotContainer > div:first-child {
	top: 19px;
	font-size: 150%;
}

#yearDotContainer > div:nth-child(13) {
	top: 19px;
	font-size: 150%;
}


#playLine2 {
    //display: inline-block;
    //display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    //width: 8.0%;
    text-align: center;
    font-size: 9px;
    position: absolute;
    height: 10px;
	top: -15px;
	display: none;
	z-index: 2000;
	background: #333;
	color: white;
	padding: 6px 8px;
	border-radius: 2px;
	min-width: 40px;
	margin-left: 2px;
}

#playLine2:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #333;
	right: 0;
	left: 0;
	margin: auto;
	bottom: -5px;
}

#playLine3 {
    //display: inline-block;
    //display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    //width: 8.0%;
    text-align: center;
    font-size: 9px;
    position: absolute;
    height: 10px;
	top: -15px;
	display: none;
	z-index: 2000;
	background: #333;
	color: white;
	padding: 6px 8px;
	border-radius: 2px;
	min-width: 40px;
	margin-left: 2px;
}

#playLine3:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #333;
	right: 0;
	left: 0;
	margin: auto;
	bottom: -5px;
}

#sliderProgressLine
	width 2px
	height 60px
	position absolute
	top -5px
	background-color #a1ba42
	display none

#sliderProgressLine2
	width 2px
	height 60px
	position absolute
	top -0px
	background-color #a1ba42
	display none

#lossPlayButton
#formaPlayButton
	position absolute
	bottom 16px
	left 27px
	cursor pointer

.irs-slider
	background url('images/dragger.png')
	cursor col-resize
	width 15px
	height 15px

.irs-bar
.irs-line
	top 21px

.irs-bar-edge
	display none

.irs-line-mid
.irs-line-left
.irs-line-right
	background white

.irs-bar
	background #ABC24B

.irs-grid-pol
	background-color #000
	border-radius 50%
	height 2px
	width 2px
	top -6px
	&.small
		display none

.irs-grid
	bottom 10px

.irs-grid-text
	font-size 11px
	color #ABC24B

.tcd-modal
	& .irs-slider.to
	&	.irs-to
	& .irs-single
	& .irs-grid-pol[style="left: 100%"]
		display none
	& .irs-from
		visibility visible !important


.range-slider
	margin-left auto
	margin-right 3%
	width 88%
	&::after
		position absolute
		background #CCC
		display block
		content ""
		height 40px
		width 1px
		left 7.5%
		top 10px

.animated-modal
	transition all 0.75s ease-in-out
	border 1px solid #b2b2b2
	background-color #FFF
	position absolute
	z-index 1000
	height auto
	top -500px
	left 50%

.upload-modal
	transform translate(-50%)
	width 450px

.coordinates-modal
	margin-left -140px
	width 280px

.animated-modal.active
	top 100px

.animated-modal .close-icon
	background url('images/close_symbol.png') no-repeat center
	position absolute
	cursor pointer
	height 20px
	width 20px
	right 5px
	top 5px

.animated-modal .modal-content
	margin 5px

.animated-modal .modal-header
	margin-bottom 5px
	font-weight bold
	font-size 18px

.upload-modal .modal-subheader
	margin 5px 0 3px
	font-weight bold
	font-size 12px

.shapefile-upload-instructions
.csv-upload-instructions
	font-size 11px

.upload-modal-form
.post-upload-options
	text-align center
	margin 10px 0

.coordinates-modal-enter-button
	background-color #e98300
	border-radius(5px)
	text-align center
	padding 5px 15px
	margin 10px auto
	cursor pointer
	display block
	color #FFF
	width 45px

.coord-inputs-container input
	width 125px

.subscription-modal
	transform translate(-50%)
	width 405px

.tcd-modal
	transform translate(-50%)
	width 340px

.tcd-modal-label
	margin-top 25px
	padding 0 10px

.tcd-modal .trees
	margin 10px 0
	height 60px
	width 100%

.tcd-slider-container
	margin 10px auto
	width 250px

.tcd-modal .tree-icon
	background url('images/tree.png') no-repeat
	margin 25px 0 0 15px
	height 41px
	width 25px
	float left

.tcd-modal .forest-icon
	background url('images/forest.png') no-repeat
	margin-right 15px
	float right
	height 60px
	width 91px

/* For Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {

}

/* Browser-Specific for Chrome (last to overwrite potential changes from others) */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {

}
