//- General modal styling
.modal-wrapper
  position absolute
  bottom 0
  right 0
  left 0
  top 0
  display none

.modal-container
  position absolute
  z-index 1000
  height 100%
  width 100%
  left 0
  top 0

.modal-background
  background-color rgba(0, 0, 0, 0.35)
  height 100%
  width 100%

.modal
  transform translate(-50%, -50%)
  background-color white
  position fixed
  height auto
  left 50%
  top 50%
  & a
    word-break break-word
    word-wrap break-word
  & .close-icon
    position absolute
    height 40px
    width 40px
    right 0
    top 0
    & svg
      transform translate(-50%, -50%)
      position absolute
      height 50%
      width 50%
      left 50%
      top 50%

.modal-title
  padding 10px 20px 0
  text-align center
  font-size 21px

.modal-content
  padding 20px 30px 20px 20px
  overflow-x hidden
  max-height 450px
  overflow-y auto
  color $darkGray
  height 100%


//- Layer modal specific styling
.layer-modal-content
  width 500px

.source-header
  margin-bottom 5px

.source-title
  text-transform uppercase
  line-height 16px
  font-weight 500
  font-size 16px
  display block

.source-description
  font-style inherit
  color $lightGray
  line-height 1.1
  font-size 13px
  margin 5px 0

.source-table
  border-top 1px solid $lightGrayBorder

.source-row
  border-bottom 1px solid $lightGrayBorder
  display table
  width 100%
  margin 0
  &:nth-child(even)
    background #F2F2F3

.source-row dt
.source-row dd
  display table-cell
  padding 10px

.source-row dt
  text-transform uppercase
  font-weight 500
  font-size 11px
  width 120px

.source-row dd
  border-left 1px solid $lightGrayBorder
  padding-left 15px
  font-size 13px

.source-summary
  font-size 13px
  & p
    margin 10px 0

.source-credits
  color $lightGray
  font-size 12px
  & strong
    font-weight 500
    display block
    color #333

.read-more
  text-align center
  padding 10px 0 0
  font-size 13px
  margin 0
  & a
    text-decoration none
    font-style normal

.layer-colors
  list-style none
  font-size 13px
  padding 0
  margin 0
  & .circle:before
    margin 0 4px 0 -1px
    content '\25CF'
    font-size 16px
