
/* line 114 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */

/* line 1 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 17 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
@font-face {
  font-family: "Arial MT Condensed Bold";
  src: url("fonts/ArialMTStd-BoldCond.otf") format("opentype");
}

/* line 21 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
@font-face {
  font-family: "Arial MT Condensed Light";
  src: url("fonts/ArialMTStd-LightCond.otf") format("opentype");
}

/* line 25 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
html,
body {
  font-family: 'Fira Sans', 'fira_sans_otregular', Georgia, serif;
  background: #fff;
}

/* line 30 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw #report {
  margin: 20px auto;
  width: 960px;
}

/* line 34 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .report-header {
  background: url("images/header_tree_background.jpg") repeat-x scroll center top transparent;
  border: 1px solid #000;
  border-bottom: 0px;
  min-height: 100px;
}

/* line 40 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .report-body {
  border: 1px solid #000;
}

/* line 43 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw #title {
  font-family: 'Fira Sans', 'fira_sans_otregular', Georgia, serif;
  padding-top: 10px;
  margin-left: 10px;
  max-width: 750px;
  font-weight: bold;
  font-size: 20px;
}

/* line 51 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw #title.multiples {
  font-size: 24px;
}

/* line 54 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .total-area {
  padding: 5px 0 15px;
  margin-left: 10px;
}

/* line 58 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .total-area-value {
  font-family: 'Fira Sans', 'fira_sans_otregular', Georgia, serif;
  font-weight: bold;
}

/* line 62 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .subscribe-alerts {
  background-color: #e98300;
  padding: 5px 8px 3px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: absolute;
  cursor: pointer;
  color: #fff;
  right: 10px;
  top: 10px;
}

/* line 72 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .print-button {
  background: url("images/print-icon.png") no-repeat -1px -35px;
  position: absolute;
  cursor: pointer;
  height: 28px;
  width: 32px;
  right: 10px;
  top: 50px;
}

/* line 81 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .print-button.disabled {
  background: url("images/print-icon.png") no-repeat -1px 0px;
  cursor: wait;
}

/* line 85 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .loading-wheel {
  background: url("images/loader.gif");
  background-size: 24px;
  display: inline-block;
  height: 24px;
  width: 24px;
}

/* line 92 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .loading-wheel.hidden {
  display: none;
}

/* line 97 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .result-container {
  margin: 20px;
  clear: both;
}

/* line 101 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.print-map-container {
  position: relative;
  margin: 20px auto;
  height: 500px;
  width: 800px;
}

/* line 111 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw #treeCoverLoss text tspan:nth-child(3) {
  display: none;
}

/* line 114 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw #treeCoverLoss text tspan:nth-child(4) {
  min-width: 20px;
}

/* line 117 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
@media print {

/* line 118 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
  .gfw .result-container,
  .print-map-container {
    page-break-after: always;
  }
}

/* line 122 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .report-body .title {
  font-family: 'Fira Sans', 'fira_sans_otregular', Georgia, serif;
  font-weight: bold;
  font-size: 20px;
}

/* line 127 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .report-body .top-panel {
  margin: 10px;
}

/* line 130 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .report-body .left-panel,
.gfw .report-body .right-panel {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  width: 430px;
}

/* line 137 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .report-body .loss-chart {
  height: 400px;
}

/* line 146 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .report-body .right-panel {
  float: right;
}

/* line 149 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
#suitability-composition-analysis {
  height: 650px;
}

/* line 152 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .rspo-results-table,
.gfw .mill-table-container table,
#suitability-settings-table table {
  border-collapse: collapse;
  text-align: center;
  border-spacing: 0;
}

/* line 159 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.suitability-settings-table-header {
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
}

/* line 164 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
#suitability-settings-table {
  font-size: 12px;
}

/* line 167 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .rspo-results-table,
.gfw .mill-table-container table {
  margin: 20px auto;
  width: 80%;
}

/* line 172 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-table-container table {
  margin-top: 0px;
}

/* line 175 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
#suitability-settings-table tr td:first-child {
  min-width: 140px;
  padding: 5px;
}

/* line 179 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .rspo-results-table th,
.gfw .rspo-results-table tr td:first-child,
#suitability-settings-table tr td:first-child {
  font-family: 'Fira Sans', 'fira_sans_otregular', Georgia, serif;
  font-weight: bold;
}

/* line 185 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .rspo-results-table th,
.gfw .rspo-results-table td,
#suitability-settings-table th,
#suitability-settings-table td {
  border: 1px solid #adadad;
  padding: 5px 0 2px;
}

/* line 192 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .rspo-results-table .change-area-unit {
  margin-right: 10%;
  float: right;
}

/* line 196 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .composition-analysis-container {
  margin: 10px 0px;
}

/* line 199 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .active-fires-badge {
  border: 2px solid #000;
  box-sizing: border-box;
  text-align: center;
  margin: 10px auto;
  width: 300px;
}

/* line 206 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .active-fires-badge div {
  margin: 10px 0;
}

/* line 209 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .active-fires-label {
  font-family: 'Fira Sans', 'fira_sans_otregular', Georgia, serif;
  font-weight: bold;
  color: #f44;
  font-size: 28px;
}

/* line 215 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .active-fires-badge.special .active-fires-label span {
  font-size: 15px;
}

/* line 218 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .active-fires-label div {
  line-height: 42px;
  font-size: 42px;
  margin: 0;
}

/* line 223 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .total-active-fires-label {
  font-family: 'Fira Sans', 'fira_sans_otregular', Georgia, serif;
  font-weight: bold;
  font-size: 16px;
}

/* line 228 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .suitability-container .child-row {
  padding-left: 15px;
}

/* line 231 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .suitability-container .left-panel {
  min-height: 400px;
}

/* line 234 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .loader-wheel {
  background: url("images/loader.gif") no-repeat left;
  background-color: #e6e6e6;
  background-color: rgba(230,230,230,0.75);
  padding: 6px 5px 0 25px;
  border: 1px solid #000;
  background-size: 22px;
  display: inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 22px;
}

/* line 245 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .loader-wheel.area {
  position: relative;
  width: 22px;
  padding: 0;
  top: 7px;
}

/* line 251 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .checkbox-container {
  padding: 5px;
}

/* line 254 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .checkbox-container input {
  margin-right: 5px;
}

/* line 257 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .email-container,
.gfw .submit-container,
.gfw .message-container {
  text-align: center;
  margin: 10px 0;
}

/* line 261 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .email-container input {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: 26px;
  padding-left: 5px;
  font-size: 14px;
  height: 26px;
  width: 240px;
  outline: 0;
}

/* line 271 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .submit-container button {
  border: 1px solid #e6e6e6;
  background: #e6e6e6;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 5px 3px;
  font-size: 14px;
  cursor: pointer;
  outline: 0;
}

/* line 280 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .submit-container button:hover,
.gfw .submit-container button:active {
  border: 1px solid #e98300;
  background: #e98300;
}

/* line 284 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-table-container table {
  text-align: center;
  width: 100%;
}

/* line 288 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-table-container th {
  text-transform: uppercase;
  width: 33%;
}

/* line 292 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-table-container th,
.gfw .mill-table-container td {
  border: 1px solid #e6e6e6;
  padding: 5px;
}

/* line 297 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-table-container tr.data-row td:nth-child(3),
.gfw .mill-table-container tr.data-row td:nth-child(5) {
  border-left: none;
}

/* line 301 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-table-container tr.data-row td:nth-child(2),
.gfw .mill-table-container tr.data-row td:nth-child(4) {
  border-right: none;
}

/* line 305 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-table-container .column-labels,
.gfw .mill-table-container .name {
  font-weight: bold;
}

/* line 309 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-table-container .row-name {
  text-align: left;
}

/* line 312 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-table-container .row-name span:last-child {
  margin-left: 15px;
}

/* line 315 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .data-row.parent .row-name span:last-child {
  margin-left: 7px;
}

/* line 318 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .data-row.child .row-name span:last-child {
  margin-left: 25px;
}

/* line 321 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-table-container .data-row {
  font-weight: bold;
}

/* line 324 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-table-container .data-row.child {
  font-weight: normal;
  font-size: 12px;
}

/* line 328 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-header {
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  margin-top: 10px;
  height: 50px;
}

/* line 334 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-title {
  line-height: 50px;
  margin-left: 10px;
  font-weight: bold;
}

/* line 339 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-risk-level,
.gfw .mill-rspo-certification {
  margin-right: 10px;
  line-height: 25px;
  font-weight: bold;
  font-size: 18px;
  float: right;
  clear: right;
}

/* line 348 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .overall-risk {
  text-transform: uppercase;
}

/* line 351 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .risk-label {
  text-transform: capitalize;
}

/* line 354 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .large-swatch,
.gfw .small-swatch {
  display: inline-block;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  position: relative;
  margin: 0 5px;
  top: 1px;
}

/* line 362 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .large-swatch {
  height: 14px;
  width: 14px;
}

/* line 366 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .small-swatch {
  height: 10px;
  width: 10px;
}

/* line 370 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .low .overall-risk {
  color: #78c1dc;
}

/* line 373 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .medium .overall-risk {
  color: #f4820d;
}

/* line 376 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .high .overall-risk {
  color: #e4132c;
}

/* line 379 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .low .large-swatch,
.gfw .low .small-swatch {
  background-color: #78c1dc;
}

/* line 383 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .medium .large-swatch,
.gfw .medium .small-swatch {
  background-color: #f4820d;
}

/* line 387 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .high .large-swatch,
.gfw .high .small-swatch {
  background-color: #e4132c;
}

/* line 391 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .value-toggle {
  position: absolute;
  height: 25px;
  right: 0;
  top: 5px;
}

/* line 397 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .toggle-button-container {
  transition: all 0.25s ease;
  background-color: #e6e6e6;
  display: inline-block;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 40px;
}

/* line 407 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .toggle-button-container.active {
  background-color: #5fa41a;
}

/* line 410 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .toggle-button-container.active .toggle-knob {
  left: 18px;
}

/* line 413 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .toggle-knob {
  transition: all 0.25s ease;
  background-color: #fff;
  display: inline-block;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  position: absolute;
  height: 20px;
  width: 20px;
  left: 2px;
  top: 2px;
}

/* line 424 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .toggle-label {
  display: inline-block;
  padding-right: 6px;
  vertical-align: top;
  padding-top: 6px;
  font-size: 12px;
}

/* line 431 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-table-container .parent td:first-child {
  cursor: pointer;
}

/* line 434 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-table-container .parent.open .toggle-icon {
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 8px solid #888;
  display: inline-block;
  height: 0;
  width: 0;
  top: 3px;
}

/* line 443 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-table-container .parent .toggle-icon {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 8px solid #888;
  display: inline-block;
  position: relative;
  height: 0;
  left: 3px;
  top: -3px;
  width: 0;
}

/* line 454 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .mill-table-container .info-icon {
  background: url("images/info-icon-gray.png") no-repeat center;
  display: inline-block;
  cursor: pointer;
  height: 21px;
  width: 20px;
}

/* line 462 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
/* 20141217 CRB - Added info icon to Total Calculated Area in report header */

/* line 463 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .report-header .total-area .info-icon {
  background: url("images/info-icon-gray.png") no-repeat center;
  display: inline-block;
  cursor: pointer;
  height: 21px;
  width: 20px;
}

/* line 469 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .total-area-info-popup {
  visibility: hidden;
  width: 450px;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
  background-color: #fff;
  border: 1px solid #b2b2b2;
  font-size: 12px;
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 75px;
  left: calc(50% - 460px);
}

/* line 481 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .total-area-info-popup .total-area-info-popup-title {
  margin: 0px;
  padding: 0px;
}

/* line 484 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .total-area-info-popup .total-area-info-popup-title .total-area-info-popup-label {
  margin-top: 8px;
  margin-left: 10px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
}

/* line 490 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .total-area-info-popup .close-info-icon {
  background: url("images/close_symbol.png") no-repeat 5px center;
  border-left: 1px solid #b2b2b2;
  background-size: 14px 14px;
  cursor: pointer;
  float: right;
  height: 30px;
  width: 25px;
  margin: 0px;
  padding: 0px;
}

/* line 500 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.gfw .total-area-info-popup .total-area-info-content {
  clear: both;
  padding: 10px;
  border-top: 1px solid #b2b2b2;
}

/* line 505 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.csv-download {
  background: url("images/download-icon.svg") no-repeat center;
  box-sizing: border-box;
  background-size: 16px;
  position: absolute;
  height: 24px;
  width: 24px;
  right: 0px;
  top: 12px;
}

/* line 515 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
#suitability-table-csv {
  top: 0;
}

/* line 518 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.rspo-table-container {
  position: relative;
}

/* line 521 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
#rspo-table-csv {
  right: 10px;
  top: 0;
}

/* line 525 : /Users/Robert/Projects/github_work/gfw-commodities-app/www/src/app/css/report.styl */
.csv-download:hover {
  background-color: rgba(102,136,170,0.25);
  border: 1px solid #68a;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
