cardinal-generator(rule, size)
	&, &__top, &__long
		{rule}-top size
	&, &__bottom, &__long
		{rule}-bottom size
	&, &__left, &__wide
		{rule}-left size
	&, &__right, &__wide
		{rule}-right size

.gfw

	.absolute
		position absolute

	.no-long, .no-top
		top 0px

	.no-long, .no-bottom
		bottom 0px

	.no-wide, .no-left
		left 0px

	.no-wide, .no-right
		right 0px

	.text-left
		text-align left

	.text-right
		text-align right

	.text-center
		text-align center

	.border-box
		box-sizing border-box

	.table
		display table

	.table-row
		display table-row

	.table-cell
		display table-cell

	.no-margin
		cardinal-generator('margin', 0px)

	.margin
		cardinal-generator('margin', 10px)

	.no-padding
		cardinal-generator('padding', 0px)

	.padding
		cardinal-generator('padding', 10px)
